Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

refactor: deduplicate LibraryHealth
  core/src/state/library.rs
  daemon/src/services/library.rs
  prost/proto/apis/library.proto
Due: MECOMP Core, MECOMP Daemon

refactor: update song_count and album_count fields to use u64 for consistency
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/playlist.rs
Due: MECOMP Storage

refactor: rename release_year field to release for consistency
  storage/src/db/crud/song.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

refactor: clone the client instead of using a mutex
  mpris/src/interfaces/player.rs
  mpris/src/interfaces/root.rs
  mpris/src/lib.rs
Due: none

refactor: use prost types for library full and brief
  core/src/state/library.rs
  core/src/state/mod.rs
  daemon/src/services/library.rs
Due: MECOMP Core, MECOMP Daemon

revert: rename release back to release_year
  core/src/audio/commands.rs
  core/src/state/mod.rs
  prost/proto/apis/entities.proto
  prost/src/conversions.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
  tui/src/lib.rs
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/views/mod.rs
Due: MECOMP Core, MECOMP Storage

refactor(mpris): streamline async block execution in player interface
  Cargo.toml
  mpris/Cargo.toml
  mpris/src/interfaces/player.rs
  mpris/src/interfaces/playlists.rs
  mpris/src/interfaces/root.rs
  mpris/src/interfaces/tracklist.rs
Due: none

refactor(collection): change name field from optional to required in CollectionFreezeRequest
  cli/src/handlers/implementations.rs
  prost/proto/apis/collection.proto
Due: none

refactor(proto): update message fields to use string types for RecordId and Ulid, and improve RPC return types in MusicPlayer service
  prost/proto/apis/entities.proto
  prost/proto/apis/library.proto
  prost/proto/daemon.proto
Due: none

update(tui): Refactor playlist and song handling to use RecordId; update related components and tests
  tui/src/lib.rs
  tui/src/state/audio.rs
  tui/src/state/library.rs
  tui/src/test_utils.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

update(cli): update to use new methods
  cli/src/handlers/complete.rs
  cli/src/handlers/implementations.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
Due: none

feat(daemon): migrate daemon to use tonic
  Cargo.lock
  Cargo.toml
  README.md
  core/src/rpc.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/services/backup.rs
  mecomp-workspace-hack/Cargo.toml
  prost/Cargo.toml
  prost/build.rs
  prost/src/conversions.rs
  prost/src/helpers.rs
  prost/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

chore: update snapshots to account for recent changes
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_collection_command_case_2@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_collection_command_case_3@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_collection_command_case_4@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_2@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_3@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_5@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_6@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_7@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_8@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_07@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_10@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_12@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_13@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_20@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_21@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_22@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_23@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_24@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_25@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_01@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_02@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_03@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_07@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_09@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_1@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_2@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_3@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_1_quiet_2_false@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_2_false@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_4_quiet_2_false@stdout.snap
Due: none

feat: ignore generated code in coverage reports
  prost/Cargo.toml
  prost/src/lib.rs
Due: none

revert: make albums have release
  cli/src/handlers/smoke_tests.rs
  prost/proto/apis/entities.proto
  prost/src/conversions.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/health.rs
  storage/src/db/schemas/album.rs
  tui/src/lib.rs
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
Due: MECOMP Storage

feat: optimize async runtime libraries for performance in tests
  Cargo.toml
Due: none

chore: update snapshots again
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_21@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_1@stdout.snap
Due: none

triage(mpris coverage failing)
  .cargo/config.toml
  .github/workflows/codecov-action.yml
  Cargo.lock
  Cargo.toml
  core/src/audio/mod.rs
  mecomp-workspace-hack/Cargo.toml
  mpris/Cargo.toml
  mpris/src/interfaces/player.rs
Due: MECOMP Core

remove unused deps
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
  tui/Cargo.toml
Due: none

chore: typo
  README.md
Due: none

fix: add google protobuf files
  prost/build.rs
  prost/proto/google/protobuf/duration.proto
  prost/proto/google/protobuf/empty.proto
Due: none

perf: rearrange startup sequence to reduce start-time
  daemon/src/lib.rs
Due: MECOMP Daemon

perf(daemon): eagerly bind to port before setup is complete
  daemon/src/lib.rs
Due: MECOMP Daemon

fix: client initialization behavior
  cli/src/handlers/complete.rs
  cli/src/main.rs
  mpris/src/main.rs
  prost/src/lib.rs
  tui/src/main.rs
Due: none

chore: typo
  daemon/src/lib.rs
Due: MECOMP Daemon

fix(prost): build.rs
  prost/build.rs
Due: none

fix: change tonic output dir
  prost/.gitignore
  prost/build.rs
  prost/proto/.gitignore
  prost/src/lib.rs
Due: none

refactor: remove unused function_name macro and related test
  core/src/lib.rs
Due: MECOMP Core

refactor: optimize reflect_pad and stft functions using likely_stable
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/src/utils.rs
Due: none

refactor: replace Vec<Feature> with [Feature; 2] in spectral descriptor methods
  analysis/src/lib.rs
  analysis/src/timbral.rs
Due: none

refactor: replace map_err with map_err_unlikely in BPMDesc and SpectralDesc implementations
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
Due: none

refactor: optimize stft handling and improve performance in chroma functions
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/benches/chroma.rs
  analysis/src/chroma.rs
Due: none

fix: properly handle out of bounds durations
  analysis/benches/decoder.rs
  analysis/src/decoder/mecomp.rs
Due: none

refactor: optimize hann window calculation in stft function
  analysis/src/utils.rs
Due: none

perf: improve gap statistic calculation in ClusteringHelper
  analysis/src/clustering.rs
Due: none

refactor: optimize chroma_interval_features and chroma_filter calculations
  analysis/src/chroma.rs
Due: none

chore: update cargo-dist version to 0.30.2 in configuration
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Update analysis/src/chroma.rs
  analysis/src/chroma.rs
Due: none

chore:fmt
  analysis/src/chroma.rs
Due: none
