Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

test(daemon): add tests for event publisher and daemon interrupt handling
  daemon/src/lib.rs
Due: MECOMP Daemon

fix(daemon): improve locking mechanism for library operations
  daemon/src/controller.rs
Due: MECOMP Daemon

test(smoke): add tests for playlist export/import functionality
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_export_path_canonicalize_falls_back@export_dynamic.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_export_path_canonicalize_falls_back@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_export_path_canonicalize_falls_back@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_import_nonexistent_path_reports_error@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_import_nonexistent_path_reports_error@stdout.snap
Due: none

test(tui): more control panel tests
  tui/src/ui/components/control_panel.rs
Due: none

test(query): add tests for LeafClause operators and query parsing failures
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

test(daemon): expand coverage of daemon controller
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Daemon

fix(decoder): correct typo in example usage of MecompDecoder
  analysis/src/decoder/mod.rs
Due: none

fmt: fix trailing comma
  analysis/src/timbral.rs
Due: none

fix(test_utils): change logger level from Debug to Warn
  core/src/test_utils.rs
Due: MECOMP Core

fix(tui/tests): use tempdir as music lib
  tui/tests/state_integration.rs
Due: none

test(cli): additional smoketests
  Cargo.lock
  cli/Cargo.toml
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_export_existing_file@export_existing.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_export_existing_file@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_export_existing_file@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_import_success@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_import_success@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_export_existing_file@export_playlist.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_export_existing_file@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_export_existing_file@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_import_success@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_import_success@stdout.snap
Due: none

test: misc
  core/src/audio/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat(ui): refactor operator handling and update UiValue initialization
  tui/src/ui/widgets/query_builder/state.rs
  tui/src/ui/widgets/query_builder/utils.rs
Due: none

test(tui): additional tests
  tui/src/state/mod.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/dropdown.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/playlist.rs
  tui/src/ui/widgets/query_builder/utils.rs
Due: none

test(tui): reorganize and expand unit tests for UI manager and view functions
  tui/src/ui/mod.rs
  tui/tests/state_integration.rs
Due: none

fix(audio/test): flaky seek test?
  core/src/audio/mod.rs
Due: MECOMP Core

fix(tui/tests): another flaky test
  core/src/audio/mod.rs
  tui/src/ui/mod.rs
Due: MECOMP Core

fix(migrations): typo and change log levels
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

fix(daemon): improve shutdown handling and add test for daemon shutdown
  daemon/src/lib.rs
Due: MECOMP Daemon

test(surrealqlx/migrations): test additional failure modes
  Cargo.lock
  surrealqlx/lib/Cargo.toml
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

fix(udp): update documentation for UDP listener socket address
  core/src/audio/mod.rs
  core/src/udp.rs
Due: MECOMP Core

fix(daemon): exclude start_daemon from coverage
  daemon/Cargo.toml
  daemon/src/lib.rs
Due: MECOMP Daemon

feat: update misc dependencies
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  cli/Cargo.toml
  mpris/Cargo.toml
  prost/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

feat: migrate to ort 2.0.0-rc12
  Cargo.lock
  analysis/Cargo.toml
  analysis/src/embeddings.rs
Due: none

feat: update lofty
  Cargo.lock
  Cargo.toml
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

feat: update rodio to 0.22.0
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  core/src/audio/mod.rs
Due: MECOMP Core

chore: update workspace hack
  Cargo.lock
  core/src/errors.rs
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
