Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore(testing): improve test performance by setting opt-level of math libraries
  Cargo.toml
Due: none

chore(clippy): fix lints
  analysis/src/clustering.rs
  cli/src/handlers/smoke_tests.rs
  core/benches/udp.rs
  core/src/audio/mod.rs
  core/src/lib.rs
  core/src/udp.rs
  storage/src/db/crud/song.rs
  tui/src/lib.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Core, MECOMP Storage

feat(tui): support nested popups
  tui/src/state/popup.rs
Due: none

feat(db): add dynamic playlist schema and query structure
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/dynamic/query.rs
  storage/src/db/schemas/mod.rs
Due: MECOMP Storage

feat(db): implement compile trait for dynamic playlist query structures
  Cargo.lock
  storage/Cargo.toml
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

feat(db): add BNF grammar and parser implementation for dynamic playlist queries
  Cargo.lock
  storage/Cargo.toml
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

feat(db): add get_query method to DynamicPlaylist for sql query generation
  storage/src/db/schemas/dynamic/mod.rs
Due: MECOMP Storage

feat(db): implement CRUD operations for dynamic playlists
  storage/src/db/crud/dynamic.rs
  storage/src/db/crud/mod.rs
  storage/src/db/crud/song.rs
  storage/src/db/mod.rs
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/test_utils.rs
Due: MECOMP Storage

fix(db): fix issue with serializing `Query`'s
  storage/src/db/crud/dynamic.rs
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

feat(health): add dynamic playlists to library state and health
  core/src/state/library.rs
  daemon/src/services/library.rs
  storage/src/db/health.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat(db): implement From trait for dynamic query types
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

feat(db): add read_by_name method for dynamic playlists
  storage/src/db/crud/dynamic.rs
Due: MECOMP Storage

feat(rpc): add dynamic playlist management commands to MusicPlayer trait
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat(daemon): implement dynamic playlist endpoints
  daemon/src/controller.rs
  daemon/src/lib.rs
  storage/src/db/crud/dynamic.rs
Due: MECOMP Daemon, MECOMP Storage

chore(tests): update snapshots and smoke tests
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_04@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_06@stdout.snap
  tui/src/test_utils.rs
Due: none

refactor(db): remove From<AsRef<str>> impl for Query types
  cli/src/handlers/smoke_tests.rs
  daemon/src/lib.rs
  storage/src/db/schemas/dynamic/query.rs
  tui/src/test_utils.rs
Due: MECOMP Daemon, MECOMP Storage

feat(daemon): add support for retrieving songs from dynamic playlists to `get_songs_from_things` function
  daemon/src/services/mod.rs
Due: MECOMP Daemon

fix(rpc): change DynamicPlaylistId type and update related functions to use it
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

feat(daemon): add playlist renaming and dynamic playlist updating functionality
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

feat(db): enhance DynamicPlaylistChangeSet and PlaylistChangeSet with builder methods
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/playlist.rs
Due: MECOMP Storage

fix(db): correct SQL query syntax and update operator string representations
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/dynamic/query.rs
  storage/src/db/schemas/playlist.rs
Due: MECOMP Storage

feat(cli): add dynamic playlist management commands and update handling
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_1@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_1@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_2@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_2@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_3@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_3@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_4@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_4@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_5@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_5@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_6@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_6@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_7@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_7@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_create@stderr.snap
Due: none

feat(cli): add subcommand to show BNF grammar of Dynamic Playlist queries
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_8@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_8@stdout.snap
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

chore(docs): update README and TODO
  README.md
  TODO.md
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_8@stdout.snap
Due: none

chore(cli): typo
  TODO.md
  cli/src/handlers/implementations.rs
Due: none

feat(tui): basic dynamic playlist views
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/mod.rs
  tui/src/state/action.rs
  tui/src/state/library.rs
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
Due: MECOMP Storage

feat(tui): add playlist editor popup for renaming playlists
  tui/src/state/popup.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

feat(tui): add support for Home and End keys in input box
  tui/src/ui/widgets/input_box.rs
Due: none

feat(storage): add new operators for dynamic queries
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

refactor(tui): change DynamicPlaylistViewProps to better align with other structures
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/mod.rs
Due: none

fix(tui): update tests
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/sidebar.rs
Due: none

feat(tui): add basic dynamic playlist editor popup and key bindings
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
Due: none

fix(query): update field name from 'year' to 'release_year' in query syntax and related implementations
  cli/src/handlers/implementations.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_8@stdout.snap
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

chore(storage): stash work on making a better query
  storage/src/db/schemas/dynamic/mod.rs
Due: MECOMP Storage

feat(dynamic_playlists): Context aware query compilatoin
  cli/src/handlers/printing.rs
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

feat(dp): improve parser transparency and error reporting
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

feat(query): add operator validation for LeafClause and enhance parser error handling
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

chore(storage): update Cargo.toml
  storage/Cargo.toml
Due: MECOMP Storage

feat(dynamic_playlists): enhance query input rendering with validation feedback
  tui/src/ui/components/content_view/views/dynamic.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
