Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

feat(core): add support for setting list of protected artist names
  core/Mecomp.toml
  core/src/config.rs
  daemon/benches/rescan.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  daemon/src/lib.rs
  daemon/src/services/library.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat(tui): ensure selection remains in view when sort mode changed
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

bump version numbers
  Cargo.lock
  Cargo.toml
Due: none

Update README.md
  README.md
Due: none

feat(analysis): allow users to choose which project method they want to use
  Cargo.lock
  analysis/Cargo.toml
  analysis/src/clustering.rs
  analysis/src/errors.rs
  core/Mecomp.toml
  core/src/config.rs
  daemon/benches/recluster.rs
  daemon/src/services/library.rs
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

refactor(clustering): optimize pairwise distance calculation in calc_pairwise_distances function
  analysis/src/clustering.rs
Due: none

refactor(mock_playback loop): use std threads instead of building a new runtime
  core/src/audio/mod.rs
Due: MECOMP Core

refactor(core/duration_watcher): use std threads instead of tokio
  core/src/audio/mod.rs
Due: MECOMP Core

refactor(chroma, utils): simplify calculations and improve memory handling in chroma_filter and stft functions
  analysis/src/chroma.rs
  analysis/src/utils.rs
Due: none

refactor(clustering): improve pairwise distances calculation
  analysis/src/clustering.rs
Due: none

chore: bump version numbers
  Cargo.lock
  Cargo.toml
Due: none

refactor(audio): fix flaky test
  core/src/audio/mod.rs
Due: MECOMP Core

chore(dependabot): remove milestone from dependabot.yml
  .github/dependabot.yml
Due: none

feat(daemon): Add import/export functionality for playlists and dynamic playlists
  Cargo.lock
  Cargo.toml
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  core/Cargo.toml
  core/src/errors.rs
  core/src/rpc.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/services/backup.rs
  daemon/src/services/mod.rs
Due: MECOMP Core, MECOMP Daemon

chore: fix typo
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Daemon

fix(daemon): bug where daemon would hang if it failed to start the tcp listener
  daemon/src/lib.rs
Due: MECOMP Daemon

refactor(core): overhaul duration tracking
  core/src/audio/mod.rs
Due: MECOMP Core

chore: typo
  core/src/audio/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat(audio): add try_send method to AudioKernelSender and increase test timeouts
  .cargo/config.toml
  Cargo.toml
  core/src/audio/mod.rs
  daemon/src/dynamic_updates.rs
Due: MECOMP Core, MECOMP Daemon

refactor(storage/analysis): streamline song analysis queries
  daemon/src/services/radio.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/artist.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Daemon, MECOMP Storage

chore(storage): remove futures dependency
  Cargo.lock
  storage/Cargo.toml
Due: MECOMP Storage

feat(daemon): run library watcher in a tokio task
  daemon/src/dynamic_updates.rs
Due: MECOMP Daemon

feat(termination): enhance signal handling to forcefully terminate after multiple signals
  daemon/src/termination.rs
  tui/src/termination.rs
Due: MECOMP Daemon

refactor(termination): InterruptReceiver newtype for responding to interrupt signals
  daemon/src/dynamic_updates.rs
  daemon/src/lib.rs
  daemon/src/termination.rs
Due: MECOMP Daemon

feat(recluster): better handling of interrupts during reclusering
  daemon/benches/recluster.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
  daemon/src/termination.rs
Due: MECOMP Daemon

feat(analysis): allow analysis to cancel in progress
  analysis/src/decoder/mod.rs
  daemon/benches/analyze.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

refactor(controller): replace std::thread with tokio::task for asynchronous operations
  daemon/src/controller.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat(udp): drop guard for the EventPublisher
  daemon/src/lib.rs
Due: MECOMP Daemon

chore: typo
  daemon/src/termination.rs
Due: MECOMP Daemon

fix(storage/tui): tui could crash if a playlist has duplicate songs
  storage/src/db/crud/playlist.rs
  storage/src/db/queries/relations.rs
Due: MECOMP Storage

feat(daemon): optimize future spawning and improve event handling
  daemon/src/lib.rs
Due: MECOMP Daemon

feat(db): add configuration option to database initialization
  storage/src/db/mod.rs
Due: MECOMP Storage
