Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

refactor(tui): clippy
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/widgets/tree/flatten.rs
  tui/src/ui/widgets/tree/item.rs
  tui/src/ui/widgets/tree/mod.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

feat(tui): update CheckTree usage in content views
  TODO.md
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

docs: fix typo
  tui/src/ui/components/content_view/views/collection.rs
Due: none

chore(daemon): update max_clusters to 16 in reclustering test
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat(cli): Add status command to get the status of rescan, analysis, or reclustering
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
Due: none

refactor(core): Update ProjectDirs qualifier
  core/src/lib.rs
Due: MECOMP Core

feat(readme): Add installation and usage instructions
  README.md
Due: none

doc(readme): Add Linux dependencies installation instructions
  README.md
Due: none

doc: Update build instructions in README.md
  README.md
Due: none

feat(tui): Update sidebar item layout
  tui/src/ui/app.rs
  tui/src/ui/components/sidebar.rs
Due: none

fix: Update labels for checked items in collection, playlist, and song views
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

doc: update MECOMP-TUI screenshot
  README.md
  assets/tui-screenshot.jpg
Due: none

fix(audio): Use saturating_add and saturating_sub for seek calculations
  core/src/audio/mod.rs
Due: MECOMP Core

chore: Update MECOMP-TUI configuration
  .cargo/config.toml
  tui/Cargo.toml
  tui/src/lib.rs
  tui/src/main.rs
Due: none

chore: Update mecomp-storage features in Cargo.toml
  core/Cargo.toml
  daemon/Cargo.toml
  storage/Cargo.toml
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

test(tui): tests for notification popup
  tui/src/lib.rs
  tui/src/test_utils.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
Due: none

fix(tui): construct_add_to_playlist_action create correct action
  tui/src/ui/components/content_view/views/mod.rs
Due: none

feat(storage): expose generate_id functions even without the db feature being enabled
  Cargo.lock
  storage/Cargo.toml
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Storage

test(tui): tests for playlist selector
  tui/Cargo.toml
  tui/src/ui/widgets/popups/playlist.rs
Due: none

chore: Update longest.sh script
  core/src/logger.rs
  scripts/longest.sh
Due: MECOMP Core

test(core): increase reliability of seek commands test
  core/src/audio/mod.rs
Due: MECOMP Core

test(tui): tests for the input box widget
  tui/src/ui/mod.rs
  tui/src/ui/widgets/input_box.rs
Due: none

test: misc tweaks to improve coverage
  .cargo/config.toml
  core/Cargo.toml
  core/src/audio/commands.rs
  core/src/audio/mod.rs
  core/src/errors.rs
  core/src/lib.rs
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
  storage/src/db/mod.rs
  storage/src/db/schemas/mod.rs
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: MECOMP Core, MECOMP Storage, SurrealQLX

test: Remove unnecessary assertions in test_get_data_dir and test_get_config_dir
  core/src/lib.rs
Due: MECOMP Core

test(tui): tests for the termination and app modules
  .cargo/config.toml
  core/src/rpc.rs
  core/src/state/mod.rs
  tui/src/state/action.rs
  tui/src/termination.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/mod.rs
Due: MECOMP Core

test(tui): expand testing of tree widget
  tui/src/ui/widgets/tree/mod.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

test(tui): test content views
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/mod.rs
Due: none

test(tui): test sidebar
  tui/src/ui/components/sidebar.rs
Due: none

refactor: code style
  core/src/test_utils.rs
  one-or-many/src/query_result_impl.rs
  storage/src/db/crud/artist.rs
  storage/src/db/schemas/mod.rs
  tui/src/test_utils.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/widgets/input_box.rs
Due: MECOMP Core, MECOMP Storage

build: separate compilation profile for codecov
  .cargo/config.toml
  .github/workflows/codecov-action.yml
  Cargo.toml
  core/src/audio/mod.rs
Due: MECOMP Core

chore: typo
  tui/src/ui/components/content_view/views/album.rs
Due: none

chore: update deps
  Cargo.lock
  Cargo.toml
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Daemon

feat(tui): Render "No results found" message when search results are empty
  tui/src/ui/components/content_view/views/search.rs
Due: none

chore: add metadata tagger to todo
  TODO.md
Due: none

chore: dependency updates
  Cargo.lock
Due: none

feat(daemon): test client that runs on channels instead of over tcp
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Daemon

fix(tui): properly handle spaces in search bar
  tui/src/ui/components/content_view/views/search.rs
Due: none

fix(tui): checkbox behavior across searches
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

chore: update dependencies and comments
  Cargo.lock
  Cargo.toml
  Mecomp.toml
  analysis/Cargo.toml
  analysis/src/chroma.rs
  analysis/src/clustering.rs
  core/src/audio/mod.rs
  core/src/logger.rs
  mecomp-workspace-hack/Cargo.toml
  tui/src/ui/widgets/popups/mod.rs
Due: MECOMP Core
