Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat: add bulk create and read operations for albums and artists
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
Due: MECOMP Storage

feat: rescan in batches
  daemon/src/services/library.rs
Due: MECOMP Daemon

refactor: replace add/remove_songs with add/remove_song
  cli/src/handlers/smoke_tests.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/album.rs
  storage/src/db/queries/artist.rs
  tui/src/lib.rs
Due: MECOMP Storage

feat: give database a temp dir so we can use the TEMPFILES clause later on
  storage/src/db/mod.rs
Due: MECOMP Storage

chore: fix typo in readme
  README.md
Due: none

fix: prevent tracing registry from caching spans when features disabled
  core/src/logger.rs
Due: MECOMP Core

feat(recluster): improve error handling of reclustering
  analysis/src/clustering.rs
  analysis/src/errors.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

refactor(decoder): streamline embedding model loading and error handling
  analysis/src/decoder/mod.rs
  analysis/src/errors.rs
Due: none

feat(clustering): optimize reference dataset generation for large samples
  analysis/src/clustering.rs
Due: none

feat: update default config
  core/Mecomp.toml
Due: MECOMP Core

refactor(decoder): generate embeddings and features in parallel to eachother
  analysis/src/decoder/mod.rs
  analysis/src/lib.rs
  analysis/src/misc.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

chore(config): enable symbol mangling version for profiling
  .cargo/config.toml
Due: none

feat(clustering): optimize within-cluster dispersion calculation using centroids
  analysis/src/clustering.rs
Due: none

feat(clustering): update GMM covariance regularization
  analysis/src/clustering.rs
  analysis/src/timbral.rs
Due: none

perf(analysis): refactor feature extraction to use rayon for parallel processing
  analysis/src/lib.rs
Due: none

feat: partial revert of 5a75d24f6cce41a7e1f3a87e5b51deae4b7673c8
  analysis/src/decoder/mod.rs
  analysis/src/embeddings.rs
  analysis/src/errors.rs
Due: none

feat: preprocess w/ PCA before T-SNE
  analysis/src/clustering.rs
Due: none

feat: switch default back to tsne
  core/Mecomp.toml
  core/src/config.rs
Due: MECOMP Core

feat(recluster): pull songs for analyses all at once
  daemon/src/services/library.rs
  daemon/src/services/radio.rs
  storage/src/db/crud/analysis.rs
Due: MECOMP Daemon, MECOMP Storage

chore: clippy and update tests
  core/Mecomp.toml
  core/src/config.rs
Due: MECOMP Core

chore: bump version numbers
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
Due: none

chore: release v0.7.1
  CHANGELOG.md
Due: none

feat(inputbox): make text method const
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/widgets/input_box.rs
Due: none

feat(inputbox): implement horizontal autoscrolling
  tui/src/ui/widgets/input_box.rs
Due: none

refactor(inputbox): simplify InputBox initialization using Default trait
  tui/src/ui/widgets/input_box.rs
Due: none

feat(inputbox): properly handle wide characters
  tui/src/ui/widgets/input_box.rs
Due: none

fix(search): forward left/right arrow keys when search bar is focused
  tui/src/ui/components/content_view/views/search.rs
Due: none

fix(inputbox): home and end keys
  tui/src/ui/widgets/input_box.rs
Due: none

fix(inputbox): update cursor column position on mouse click
  tui/src/ui/widgets/input_box.rs
Due: none

perf(inputbox): improve character deletion logic in delete_char and delete_next_char methods
  tui/src/ui/widgets/input_box.rs
Due: none

test(inputbox): rename tests for clarity and add delete character scenarios
  tui/src/ui/widgets/input_box.rs
Due: none

feat(inputbox): PrefixSumVec helper struct
  tui/src/ui/widgets/input_box.rs
Due: none

perf(inputbox): streamline cursor position handling with PrefixSumVec
  tui/src/ui/widgets/input_box.rs
Due: none

chore: update todos
  tui/src/ui/widgets/input_box.rs
Due: none

fix(inputbox): account for scrolling when clicking to move cursor
  tui/src/ui/widgets/input_box.rs
Due: none

refactor: reimplement InputBox as a stateful widget
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/widgets/input_box_old.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refactor: reimplement InputBox as a stateful widget
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refactor: update render methods to use mutable self
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/mod.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

perf(tui): simplify state magagement of various components
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

feat(inputbox): implement smooth scrolling
  tui/src/ui/widgets/input_box.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
