Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat(cli): make pipe commands implicit Fixes #286
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_02@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_03@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_01@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_02@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_03@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_04@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_5@stdout.snap
  cli/src/main.rs
Due: none

feat(cli): update printing functions to accept mutable vectors and sorting options
  cli/src/handlers/implementations.rs
  cli/src/handlers/printing.rs
Due: none

refactor(cli): move stdin handling into extend_from_stdin util
  cli/src/handlers/implementations.rs
  cli/src/handlers/utils.rs
Due: none

refactor(cli): simplify parse_from_lines function
  cli/src/handlers/utils.rs
Due: none

feat(cli): improve tests and update snapshots
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_07@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_14@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_15@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_20@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_21@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_1_mixed@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_1_mixed@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_2_args_only@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_2_args_only@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_3_pipe_only@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_3_pipe_only@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_4_pipe_invalid@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_add_pipe_case_4_pipe_invalid@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_11@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_11@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_1_mixed@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_1_mixed@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_2_args_only@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_2_args_only@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_3_pipe_only@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_3_pipe_only@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_4_pipe_invalid@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_add_pipe_case_4_pipe_invalid@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_4@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_5@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_5@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_6@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_6@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_7@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_radio_command_case_7@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_3@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_1_true@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_2_false@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_4_quiet_2_false@stdout.snap
Due: none

chore: release v0.6.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

feat(migration): run migrations one-by-one instead of all at once
  Cargo.lock
  core/src/logger.rs
  surrealqlx/lib/Cargo.toml
  surrealqlx/lib/src/migrations.rs
Due: MECOMP Core, SurrealQLX

chore: release v0.6.2
  CHANGELOG.md
Due: none

chore: release v0.6.3
  CHANGELOG.md
  Cargo.toml
Due: none

chore: update cargo.lock
  Cargo.lock
Due: none

feat: refactor CRUD operations to use parameterized queries for brief fields
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/generic.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

feat: update count query to use binding for table parameters
  storage/src/db/mod.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Storage

chore: release v0.6.4
  .github/workflows/publish-crates.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat(analysis): Add audio embedding model using ONNX for vector embeddings
  Cargo.lock
  analysis/Cargo.toml
  analysis/models/audio_embedding_model.onnx
  analysis/src/embeddings.rs
  analysis/src/errors.rs
  analysis/src/lib.rs
  one-or-many/src/lib.rs
Due: none

feat(analysis): remove unneeded serde dependency
  Cargo.lock
  analysis/Cargo.toml
  analysis/src/lib.rs
Due: none

feat(analysis): refactor embedding handling to use fixed-size array
  analysis/src/embeddings.rs
Due: none

feat(config): add analysis settings for song analysis configuration
  core/Mecomp.toml
  core/src/config.rs
Due: MECOMP Core

refactor: don't feature gate embedding generation
  analysis/Cargo.toml
  analysis/src/errors.rs
  analysis/src/lib.rs
Due: none

chore: clippy
  analysis/src/decoder/mod.rs
  analysis/src/embeddings.rs
Due: none

feat(storage): add embedding support to analysis handling and queries
  cli/src/handlers/smoke_tests.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/schemas/analysis.rs
  storage/src/test_utils.rs
  tui/src/lib.rs
Due: MECOMP Storage

feat(radio): update get_similar function to include analysis settings for song similarity
  daemon/src/controller.rs
  daemon/src/services/radio.rs
Due: MECOMP Daemon

feat(analysis): implement batch processing for audio embeddings
  analysis/models/audio_embedding_model.onnx
  analysis/src/embeddings.rs
  analysis/src/lib.rs
Due: none

feat(benchmarks): add benchmarks for audio embedding model loading and generation
  analysis/Cargo.toml
  analysis/benches/embeddings.rs
Due: none

feat: optional WebGPU support for accelerated model inference
  analysis/benches/embeddings.rs
  analysis/src/embeddings.rs
  core/Mecomp.toml
  core/src/config.rs
Due: MECOMP Core

refactor(logging): change log level for file analysis messages
  analysis/src/decoder/mod.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

fix(queries): correct embedding field name in nearest neighbors queries
  storage/src/db/queries/analysis.rs
Due: MECOMP Storage

feat(model): add ModelConfig struct and load method for flexible model loading
  analysis/src/embeddings.rs
Due: none

refactor(embed): don't bind model inputs/outputs and updage benchmarks
  analysis/benches/embeddings.rs
  analysis/src/embeddings.rs
Due: none

refactor(surrealqlx): change debug logs to trace for migration table checks
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

refactor(analysis): simplify model initialization
  Cargo.lock
  analysis/Cargo.toml
  analysis/benches/embeddings.rs
  analysis/src/embeddings.rs
  core/Mecomp.toml
  core/src/config.rs
  daemon/src/services/radio.rs
Due: MECOMP Core, MECOMP Daemon

feat(decoder): add function to generate Analysis and Embedding of song
  analysis/src/decoder/mod.rs
  analysis/src/errors.rs
Due: none

feat(daemon): support generating embeddings during library analyze
  daemon/benches/analyze.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

fix: reduce memory usage during library analysis
  analysis/benches/embeddings.rs
  analysis/src/decoder/mod.rs
  analysis/src/embeddings.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat: store embeddings as f64's for compatibility with analyses
  cli/src/handlers/smoke_tests.rs
  daemon/benches/recluster.rs
  daemon/src/services/library.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/schemas/analysis.rs
  storage/src/test_utils.rs
  tui/src/lib.rs
Due: MECOMP Daemon, MECOMP Storage

feat(daemon): update library recluster to support AnalysisSettings
  analysis/src/clustering.rs
  daemon/benches/recluster.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

chore: update docs
  analysis/src/decoder/mod.rs
  core/Mecomp.toml
  core/src/config.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/schemas/analysis.rs
Due: MECOMP Core, MECOMP Storage

feat: hardware acceleration for ONNX inference
  analysis/Cargo.toml
  analysis/src/embeddings.rs
  daemon/Cargo.toml
Due: MECOMP Daemon

test: add tests for analyze_paths and process_paths functions
  analysis/src/decoder/mecomp.rs
Due: none

chore: update cache keys in CI/CD workflows to reduce misses
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/rust-clippy.yml
Due: none

feat(decoder): remove redundant function and improved docs
  analysis/benches/decoder.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/decoder/mod.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
