Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
      - type: patch
        target: auto
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

refactor(daemon): separate cli-parsing functionality from library crate, and remove lazy-static dependency
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/config.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/main.rs
Due: MECOMP Daemon

feat(core): change arb_song_case to select artists from smaller range of values
  core/src/test_utils.rs
Due: MECOMP Core

add test_utils module
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/lib.rs
  daemon/src/test_utils.rs
Due: MECOMP Daemon

refactor: clippy and fmt
  daemon/src/dynamic_updates.rs
  daemon/src/main.rs
Due: MECOMP Daemon

feat(daemon): implement dynamic updates feature
  Cargo.lock
  Cargo.toml
  README.md
  daemon/Cargo.toml
  daemon/src/dynamic_updates.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Daemon

fix(daemon): fix some issues with dynamic updater implementation
  Cargo.lock
  Cargo.toml
  daemon/src/dynamic_updates.rs
  daemon/src/lib.rs
  daemon/src/test_utils.rs
Due: MECOMP Daemon

chore: clippy
  daemon/src/dynamic_updates.rs
Due: MECOMP Daemon

update codecov.yml
  codecov.yml
Due: none

chore: update codecov.yml to check statuses on all branches
  codecov.yml
Due: none

feat(utils): migrate OneOrMany into it's own crate
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/audio/mod.rs
  core/src/rpc.rs
  core/src/state/mod.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  one-or-many/Cargo.toml
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
  one-or-many/src/query_result_impl.rs
  storage/Cargo.toml
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
  storage/src/util.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

clippy and fmt
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
  one-or-many/src/query_result_impl.rs
Due: none

chore(one-or-many): add to codecov
  README.md
  codecov.yml
Due: none

fix(one-or-many): add a ton of tests and fix bugs that pop up
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
Due: none

refactor: Simplify code in song.rs and query_result_impl.rs
  one-or-many/src/query_result_impl.rs
  storage/src/db/crud/song.rs
Due: MECOMP Storage

fix: typo
  one-or-many/src/lib.rs
Due: none

refactor: clippy and fmt
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
Due: none

chore: add githooks
  .githooks/pre-commit
  .githooks/pre-push
  README.md
Due: none

add readme to one-or-many
  one-or-many/README.md
Due: none

feat(types): add mecomp-types crate to project
  Cargo.lock
  Cargo.toml
  codecov.yml
  types/Cargo.toml
  types/README.md
  types/src/lib.rs
Due: none

feat(types): add impls to crate and feature gate serde stuff
  Cargo.lock
  types/Cargo.toml
  types/src/album.rs
  types/src/artist.rs
  types/src/collection.rs
  types/src/id.rs
  types/src/lib.rs
  types/src/playlist.rs
  types/src/song.rs
Due: none

feat(types): feature gate surrealdb stuff
  types/Cargo.toml
  types/src/album.rs
  types/src/artist.rs
  types/src/collection.rs
  types/src/id.rs
  types/src/lib.rs
  types/src/playlist.rs
  types/src/song.rs
  types/src/surreal.rs
Due: none

fix(types): fix feature gating
  types/Cargo.toml
  types/src/album.rs
  types/src/artist.rs
  types/src/collection.rs
  types/src/playlist.rs
  types/src/song.rs
  types/src/surreal.rs
Due: none

refactor: changed mind, delete types crate and instead introduce "db" feature on the mecomp-storage crate
  Cargo.lock
  Cargo.toml
  codecov.yml
  core/Cargo.toml
  daemon/Cargo.toml
  storage/Cargo.toml
  storage/src/db/crud/song.rs
  storage/src/db/mod.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  storage/src/errors.rs
  storage/src/util.rs
  types/Cargo.toml
  types/README.md
  types/src/album.rs
  types/src/artist.rs
  types/src/collection.rs
  types/src/lib.rs
  types/src/playlist.rs
  types/src/song.rs
  types/src/surreal.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: move duration fields to use std::time::Duration internally
  core/Cargo.toml
  core/src/state/mod.rs
  daemon/src/controller.rs
  storage/Cargo.toml
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/queries/collection.rs
  storage/src/db/crud/queries/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/mod.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  storage/src/errors.rs
  storage/src/test_utils.rs
  storage/src/util.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: Remove redundant code for runtime field in artist, collection, and playlist schemas
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

feat: box AddToQueue command
  core/src/audio/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

refactor: Update Cargo.toml files
  .cargo/config.toml
  core/Cargo.toml
  storage/Cargo.toml
  storage/src/db/schemas/mod.rs
Due: MECOMP Core, MECOMP Storage

fix typo in cargo.toml
  daemon/Cargo.toml
Due: MECOMP Daemon

chore: Update Cargo.toml files
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
Due: none

chore: fix typo
  storage/Cargo.toml
Due: MECOMP Storage

refactor: Update serialization and deserialization of duration fields in schemas for briefs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

refactor: move init_client function to mecomp-core
  core/src/rpc.rs
  daemon/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

feat(cli): initial implementation of the mecomp-cli
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/README.md
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/main.rs
  codecov.yml
  core/src/rpc.rs
  core/src/state/mod.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/lib.rs
  storage/src/db/schemas/mod.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor(daemon): run library rescan in worker thread
  core/src/errors.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat: migrate daemon to Json data transfer
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/src/rpc.rs
  daemon/src/lib.rs
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

refactor: Add Debug trait to subcommand enums
  cli/src/handlers/mod.rs
  cli/src/main.rs
Due: none

cargo machete
  Cargo.lock
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Daemon

feat(cli): improve output readibility
  Cargo.lock
  cli/Cargo.toml
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

chore(logger): update longest file in the repo comment
  core/src/logger.rs
Due: MECOMP Core

refactor(audio): optimize audio kernel implementation
  core/src/audio/mod.rs
Due: MECOMP Core
