Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore: prep for v0.2.2 release
  Cargo.lock
  Cargo.toml
Due: none

fix(storage): fix imports
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/mod.rs
Due: MECOMP Storage

refactor(storage): simplify Artist::read_songs query
  storage/src/db/crud/artist.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Storage

feat: refactor main functions for improved performance
  Cargo.lock
  Cargo.toml
  daemon/src/main.rs
  mpris/src/main.rs
  tui/src/main.rs
Due: MECOMP Daemon

chore: update deps
  .github/workflows/cd.yml
  .github/workflows/codecov-action.yml
  mecomp-workspace-hack/Cargo.toml
Due: none

feat(storage): define tables for each relation we use
  storage/src/db/mod.rs
  storage/src/db/queries/album.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/collection.rs
  storage/src/db/queries/mod.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/queries/relations.rs
  storage/src/db/queries/song.rs
  storage/src/test_utils.rs
Due: MECOMP Storage

chore: bump version numbers
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
Due: none

refactor(cicd): update cache key so jobs can better share caches
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
  .github/workflows/rust-clippy.yml
Due: none

fix(analysis): correct downmixing from stereo to mono
  analysis/src/decoder/mecomp.rs
  analysis/src/errors.rs
Due: none

chore: disable benchmarking for libraries
  analysis/Cargo.toml
  core/Cargo.toml
  daemon/Cargo.toml
  storage/Cargo.toml
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat(analysis): use symphonia directly for analysis
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/benches/decoder.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/decoder/mod.rs
  analysis/src/errors.rs
  analysis/src/timbral.rs
  mecomp-workspace-hack/Cargo.toml
Due: none

feat(analysis): allow decoder to share the same resampler across calls, and make the decoder trait object safe
  analysis/benches/analysis.rs
  analysis/benches/chroma.rs
  analysis/benches/decoder.rs
  analysis/benches/misc.rs
  analysis/benches/temporal.rs
  analysis/benches/timbral.rs
  analysis/benches/utils.rs
  analysis/src/chroma.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/decoder/mod.rs
  analysis/src/misc.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat(analysis): share a pool of resamplers instead of a single resampler
  Cargo.lock
  analysis/Cargo.toml
  analysis/src/decoder/mecomp.rs
Due: none

refactor(analysis): simplify thread handling in decoder by removing unnecessary join operations
  analysis/src/decoder/mod.rs
Due: none

chore: fix typos
  analysis/src/decoder/mecomp.rs
  analysis/src/timbral.rs
Due: none

feat(analysis): add overwrite option to library analysis command
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_04@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_07@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_09@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_11@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_12@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_13@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_14@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_16@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_17@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_17@stdout.snap
  core/src/rpc.rs
  daemon/benches/analyze.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
  tui/src/state/library.rs
Due: MECOMP Core, MECOMP Daemon

chore: disable alloc feature, it was causing linking errors
  Cargo.lock
  Cargo.toml
Due: none

Feat(cli): optionally override analysis (#261)
  Cargo.lock
  Cargo.toml
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_04@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_05@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_06@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_07@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_09@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_11@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_12@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_13@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_14@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_16@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_17@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_17@stdout.snap
  core/src/rpc.rs
  daemon/benches/analyze.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
  tui/src/state/library.rs
Due: MECOMP Core, MECOMP Daemon

refactor(analysis): merge `Decode` and `DecodeWithCallback` traits to simplify implementations
  analysis/src/decoder/mod.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

test(analysis): add new audio files and analysis tests for decoder
  analysis/data/s32_mono_44_1_kHz.flac
  analysis/src/decoder/mecomp.rs
Due: none

refactor(benchmarks): reorganize benchmarks to make better use of benchmark groups
  Cargo.toml
  analysis/Cargo.toml
  analysis/benches/chroma.rs
  analysis/benches/decoder.rs
  analysis/benches/descriptors.rs
  analysis/benches/misc.rs
  analysis/benches/temporal.rs
  analysis/benches/timbral.rs
  analysis/data/5_mins_of_noise_stereo_48kHz.ogg
  cli/Cargo.toml
  daemon/benches/analyze.rs
  daemon/benches/recluster.rs
  mpris/Cargo.toml
  one-or-many/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  tui/Cargo.toml
Due: MECOMP Daemon, SurrealQLX

bench(analysis): benchmark each step of the decoding process
  analysis/Cargo.toml
  analysis/benches/decoder.rs
  analysis/benches/decoder_steps.rs
  analysis/src/decoder/mecomp.rs
Due: none

refactor(decoder): simplify error handling
  analysis/src/decoder/mecomp.rs
  analysis/src/lib.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
