Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat(daemon): define constants for max channels and concurrent requests
  daemon/src/lib.rs
  daemon/src/main.rs
Due: MECOMP Daemon

feat(ticker): set missed tick behavior to delay for audio state updates
  mpris/src/lib.rs
  tui/src/state/audio.rs
Due: none

feat(daemon): integrate tokio-console
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  core/Cargo.toml
  core/src/logger.rs
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

chore: update deps
  Cargo.lock
  core/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core

feat(playlist): enhance add_songs query to prevent duplicate song relations
  storage/src/db/crud/playlist.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

refactor(audio): simplify AudioKernel structure and command handling
  core/src/audio/mod.rs
Due: MECOMP Core

feat(storage/playlist): replace repair w/ computed fields
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_02@stdout.snap
  daemon/src/controller.rs
  daemon/src/services/library.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/schemas/playlist.rs
Due: MECOMP Daemon, MECOMP Storage

fix(storage): define namespaces and databases in init functions
  storage/src/db/mod.rs
  storage/src/test_utils.rs
Due: MECOMP Storage

feat(storage/artist): replace repair w/ computed fields
  daemon/src/services/library.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/artist.rs
Due: MECOMP Daemon, MECOMP Storage

feat(storage/collection): replace repair w/ computed fields
  daemon/src/services/library.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/collection.rs
Due: MECOMP Daemon, MECOMP Storage

chore(daemon): don't enable tokio-console by default
  core/src/logger.rs
  daemon/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

feat(storage/album): replace repair w/ computed fields
  daemon/src/services/library.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/album.rs
Due: MECOMP Daemon, MECOMP Storage

feat(cli): implement tab-completion for ids
  cli/src/handlers/complete.rs
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_15@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_16@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_17@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_18@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_18@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_19@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_19@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_20@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_20@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_21@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_21@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_22@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_22@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_23@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_23@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_24@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_24@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_25@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_25@stdout.snap
  cli/src/main.rs
Due: none

chore: version v0.4.0 and windows hotfix
  Cargo.lock
  Cargo.toml
  tui/src/termination.rs
Due: none

feat(surrealqlx): better support for custom queries, and split index definition into separate macro
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
  one-or-many/src/query_result_impl.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros-impl/src/lib.rs
  surrealqlx/macros-impl/src/tests.rs
  surrealqlx/macros/Cargo.toml
  surrealqlx/macros/src/lib.rs
Due: MECOMP Storage, SurrealQLX

chore: update dependencies
  .gitignore
  Cargo.lock
  core/Cargo.toml
  core/src/config.rs
  core/src/lib.rs
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

chore: icons
  assets/icons/icon-128x128.png
  assets/icons/icon-16x16.png
  assets/icons/icon-256x256.png
  assets/icons/icon-32x32.png
  assets/icons/icon-512x512.png
  assets/icons/icon-64x64.png
  assets/icons/icon.ico
  assets/icons/icon.svg
Due: none

feat(packaging): integrate cargo dist
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/typo.yml
  Cargo.toml
  cli/Cargo.toml
  cli/wix/main.wxs
  daemon/Cargo.toml
  daemon/wix/main.wxs
  dist-workspace.toml
  mpris/Cargo.toml
  mpris/wix/main.wxs
  tui/Cargo.toml
  tui/wix/main.wxs
Due: MECOMP Daemon

chore: update CI environment to Ubuntu 22.04 and format target platforms
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/typo.yml
  Cargo.toml
  cli/Cargo.toml
  cli/wix/main.wxs
  daemon/Cargo.toml
  daemon/wix/main.wxs
  dist-workspace.toml
  mpris/Cargo.toml
  mpris/wix/main.wxs
  tui/Cargo.toml
  tui/wix/main.wxs
Due: MECOMP Daemon

feat(packaging): integrate cargo-dist
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/typo.yml
  Cargo.toml
  cli/Cargo.toml
  cli/wix/main.wxs
  daemon/Cargo.toml
  daemon/wix/main.wxs
  dist-workspace.toml
  mpris/Cargo.toml
  mpris/wix/main.wxs
  tui/Cargo.toml
  tui/wix/main.wxs
Due: MECOMP Daemon

release: v0.4.1
  Cargo.lock
  Cargo.toml
  daemon/src/termination.rs
  dist-workspace.toml
Due: MECOMP Daemon

refactor(backup): change file existence check
  TODO.md
  core/src/errors.rs
  daemon/src/lib.rs
  daemon/src/services/backup.rs
Due: MECOMP Core, MECOMP Daemon

feat(rpc): use usize instead of i64 for search limit
  cli/src/handlers/mod.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat(daemon): improve random read endpoints
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/controller.rs
  storage/benches/song.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Daemon, MECOMP Storage

feat: update random retrieval methods to return brief representations for artists, albums, and songs
  cli/src/handlers/implementations.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_1@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_2@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_rand_command_case_3@stdout.snap
  core/src/rpc.rs
  daemon/src/controller.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: simplify assertions and improve readability in tests
  analysis/benches/decoder.rs
  analysis/benches/decoder_steps.rs
  analysis/benches/descriptors.rs
  analysis/src/clustering.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  core/src/lib.rs
  daemon/src/services/library.rs
  mpris/src/interfaces/player.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
  storage/src/util.rs
  tui/src/test_utils.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/tree/flatten.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

chore: update readme's
  daemon/README.md
  tui/README.md
Due: MECOMP Daemon

refactor(daemon): remove `analysis` feature flag
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/services/library.rs
  daemon/src/services/mod.rs
Due: MECOMP Daemon

perf(analysis): cache locality in chroma_stft
  analysis/benches/chroma.rs
  analysis/src/chroma.rs
  analysis/src/decoder/mecomp.rs
Due: none

release: 0.5.0
  Cargo.lock
  Cargo.toml
Due: none

hotfix(storage): fix failing release
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

fix(storage): `merge_with_song` was skipping the album field
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

feat(storage): enhance logging for orphaned album and artist deletions
  daemon/src/services/library.rs
  storage/src/db/crud/song.rs
Due: MECOMP Daemon, MECOMP Storage

fix(daemon): report health instead of brief after analysis/recluster
  daemon/src/services/library.rs
Due: MECOMP Daemon

release: 0.5.1
  Cargo.lock
  Cargo.toml
Due: none

feat(core): update config with new color options
  core/Mecomp.toml
  core/src/config.rs
Due: MECOMP Core

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
