Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat(core): Add analysis module
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/analysis/chroma.rs
  core/src/analysis/decoder.rs
  core/src/analysis/errors.rs
  core/src/analysis/misc.rs
  core/src/analysis/mod.rs
  core/src/analysis/temporal.rs
  core/src/analysis/timbral.rs
  core/src/analysis/utils.rs
  core/src/lib.rs
Due: MECOMP Core

feat(storage): add analysis field to song schema
  core/src/audio/commands.rs
  core/src/state/mod.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Storage

feat(analysis): move analysis module to separate library
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/data/capacity_fix.ogg
  analysis/data/capacity_fix.wav
  analysis/data/chroma-filter.npy
  analysis/data/chroma-interval.npy
  analysis/data/chroma.npy
  analysis/data/convolve.npy
  analysis/data/convolve_odd.npy
  analysis/data/interval-feature-matrix.npy
  analysis/data/librosa-decoded.npy
  analysis/data/librosa-stft.npy
  analysis/data/no_channel.wav
  analysis/data/piano.flac
  analysis/data/piano.wav
  analysis/data/picture.png
  analysis/data/pitch-tuning.npy
  analysis/data/s16_mono_22_5kHz.flac
  analysis/data/s16_stereo_22_5kHz.flac
  analysis/data/s32_stereo_44_1_kHz.flac
  analysis/data/s32_stereo_44_1_kHz.mp3
  analysis/data/spectrum-chroma-mags.npy
  analysis/data/spectrum-chroma-pitches.npy
  analysis/data/spectrum-chroma.npy
  analysis/data/tone_11080Hz.flac
  analysis/data/white_noise.mp3
  analysis/src/chroma.rs
  analysis/src/decoder.rs
  analysis/src/errors.rs
  analysis/src/lib.rs
  analysis/src/misc.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
  core/Cargo.toml
  core/src/lib.rs
Due: MECOMP Core

feat: add analysis to Song::try_into_db
  Cargo.lock
  analysis/src/decoder.rs
  analysis/src/lib.rs
  core/src/audio/commands.rs
  core/src/state/mod.rs
  daemon/Cargo.toml
  daemon/src/dynamic_updates.rs
  storage/Cargo.toml
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/song.rs
  storage/src/errors.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat: Add benchmarks for mecomp-analysis library
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/benches/analysis.rs
  analysis/benches/chroma.rs
  analysis/benches/decoder.rs
  analysis/benches/misc.rs
  analysis/benches/temporal.rs
  analysis/benches/timbral.rs
  analysis/benches/utils.rs
  analysis/src/chroma.rs
  analysis/src/misc.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
  daemon/Cargo.toml
Due: MECOMP Daemon

testing: fix slow tests, and update workspace hack
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  daemon/src/dynamic_updates.rs
  mecomp-workspace-hack/Cargo.toml
  storage/Cargo.toml
  storage/src/lib.rs
Due: MECOMP Daemon, MECOMP Storage

chore: Refactor printing.rs to improve output readability and remove unnecessary code
  cli/src/handlers/printing.rs
Due: none

refactor(library rescan): re-use previous hashset instead of creating a new one
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat: Add benchmark for Song::try_load_into_db function
  storage/benches/song.rs
Due: MECOMP Storage

feat(storage): Refactor CRUD functions to use StorageResult
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/errors.rs
Due: MECOMP Storage

feat(storage): move song analyses to separate table
  core/src/audio/commands.rs
  core/src/state/mod.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/song.rs
  storage/src/db/mod.rs
  storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Storage

feat(store): implement analysis table
  daemon/src/errors.rs
  daemon/src/lib.rs
  storage/Cargo.toml
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/mod.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/mod.rs
  storage/src/db/schemas/analysis.rs
  storage/src/errors.rs
Due: MECOMP Daemon, MECOMP Storage

feat(daemon): Add library analysis functionality
  Cargo.lock
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  core/src/errors.rs
  core/src/rpc.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/services/library.rs
Due: MECOMP Core, MECOMP Daemon

feat(daemon): test library analyze and rescan functions
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat(daemon): implement radio (song suggestions)
  README.md
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  core/src/logger.rs
  core/src/rpc.rs
  core/src/state/library.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
  daemon/src/services/mod.rs
  daemon/src/services/radio.rs
  storage/src/db/health.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

chore: update readme
  README.md
  analysis/README.md
Due: none

fix(typos)
  analysis/src/chroma.rs
  analysis/src/lib.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat(quality of life): add ability to pipe output of search/radio commands to the queue
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/utils.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  one-or-many/src/lib.rs
  storage/src/db/crud/analysis.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

fix: don't echo invalid input, it's messy
  cli/src/handlers/utils.rs
Due: none

chore(Mecomp.toml): update outdated comments
  Mecomp.toml
Due: none

chore: update deps
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
Due: none

feat: use the directories-rs crate to find data and config directories and use those for the database and config files
  Cargo.lock
  Cargo.toml
  Mecomp.toml
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  daemon/src/config.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  tui/Cargo.toml
  tui/src/main.rs
Due: MECOMP Core, MECOMP Daemon

fix(storage): faulty feature gating
  storage/src/db/crud/song.rs
Due: MECOMP Storage

chore: add dedicated TODO list
  README.md
  TODO.md
Due: none

feat: Add SearchResult struct to rpc module
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  core/src/state/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat: Add len method to SearchResult struct
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat: Update full-text search query in Album CRUD
  storage/src/db/crud/album.rs
  storage/src/db/schemas/album.rs
Due: MECOMP Storage

chore: Update dependencies and workspace configuration
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  tui/Cargo.toml
  tui/README.md
Due: none

feat(tui): implement basic tui
  core/src/state/library.rs
  tui/src/main.rs
  tui/src/state/action.rs
  tui/src/state/audio.rs
  tui/src/state/library.rs
  tui/src/state/mod.rs
  tui/src/state/search.rs
  tui/src/state/view.rs
  tui/src/termination.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/mod.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/mod.rs
  tui/src/ui/widgets/searchbar.rs
Due: MECOMP Core

fix(tui): fix song progress styling
  tui/src/ui/components/control_panel.rs
Due: none

chore: machete + lint
  Cargo.lock
  core/src/rpc.rs
  mecomp-workspace-hack/Cargo.toml
  tui/Cargo.toml
  tui/src/main.rs
  tui/src/state/action.rs
  tui/src/state/audio.rs
  tui/src/state/library.rs
  tui/src/state/mod.rs
  tui/src/state/search.rs
  tui/src/state/view.rs
  tui/src/termination.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/searchbar.rs
Due: MECOMP Core

refactor: Simplify parse_things_from_lines function in utils.rs
  cli/src/handlers/utils.rs
  storage/src/db/schemas/mod.rs
Due: MECOMP Storage

feat(tui): use tree widget to make search more navigable
  Cargo.lock
  TODO.md
  storage/src/db/schemas/mod.rs
  tui/Cargo.toml
  tui/src/ui/components/content_view/views/search.rs
Due: MECOMP Storage

chore: fix typo
  TODO.md
  core/src/errors.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/mod.rs
  typos.toml
Due: MECOMP Core

feat: Add methods to retrieve artists, albums, and songs in the library
  TODO.md
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

refactor(tui): Simplify creation of tree widgets
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/search.rs
Due: none

fix(tui): search navigation
  tui/src/ui/components/content_view/views/search.rs
Due: none

feat(tui): implement SongView page
  Cargo.lock
  TODO.md
  tui/Cargo.toml
  tui/src/main.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/mod.rs
Due: none

feat(tui): Add view data for Album, Artist, Collection, and Playlist views
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/mod.rs
Due: none

feat(one-or-many): Implement Ord
  one-or-many/src/lib.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
