Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

refactor(state): update seek_position type to Duration
  core/src/audio/mod.rs
  core/src/state/mod.rs
Due: MECOMP Core

feat(audio): implement duration watcher
  core/src/audio/mod.rs
Due: MECOMP Core

fix(audio): fix bug where the kernels paused mutex wasn't updated by the toggle_playback function
  core/src/audio/mod.rs
Due: MECOMP Core

feat(daemon/cli): allow multiple songs to be added to a playlist in a single command
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

refactor: update conflict resolution mode to "overwrite", and remove buggy merge mode
  Mecomp.toml
  daemon/src/config.rs
  daemon/src/services/library.rs
  storage/src/db/schemas/song.rs
  storage/src/util.rs
Due: MECOMP Daemon, MECOMP Storage

refactor(storage): move queries module up a level
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/mod.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/mod.rs
  storage/src/db/queries/album.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/collection.rs
  storage/src/db/queries/generic.rs
  storage/src/db/queries/mod.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/queries/song.rs
Due: MECOMP Storage

refactor(surrealqlx): simplify vectorindex parsing
  surrealqlx/macros-impl/src/lib.rs
Due: SurrealQLX

feat(surrealqlx): text-search indexing attribute
  core/src/search/mod.rs
  surrealqlx/macros-impl/src/lib.rs
  surrealqlx/macros-impl/src/tests.rs
Due: MECOMP Core, SurrealQLX

feat(surrealqlx): set multiple indexes on the same field
  surrealqlx/macros-impl/src/lib.rs
  surrealqlx/macros-impl/src/tests.rs
Due: SurrealQLX

feat(storage): implement searching in the storage crate
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/mod.rs
  storage/src/db/queries/generic.rs
  storage/src/db/queries/mod.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/song.rs
  surrealqlx/macros-impl/src/tests.rs
Due: MECOMP Storage, SurrealQLX

feat(daemon): implement search
  core/src/lib.rs
  core/src/rpc.rs
  core/src/search/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat(cli): implement search
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat(surrealqlx): support creating compound indexes
  surrealqlx/macros-impl/src/lib.rs
  surrealqlx/macros-impl/src/tests.rs
Due: SurrealQLX

feat(search): improve song searching (index artist as well as title)
  daemon/src/controller.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Daemon, MECOMP Storage

refactor(song): simplify update logic
  storage/src/db/crud/song.rs
Due: MECOMP Storage

feat(testing): move common test_utils to mecomp-storage crate behind feature flag
  core/Cargo.toml
  core/src/test_utils.rs
  daemon/Cargo.toml
  daemon/src/test_utils.rs
  mecomp-workspace-hack/Cargo.toml
  storage/Cargo.toml
  storage/src/db/mod.rs
  storage/src/lib.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

feat(testing): update tests to reflect changes in prior commit
  core/src/audio/mod.rs
  core/src/audio/queue.rs
  daemon/src/dynamic_updates.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

fix(song): update album handling logic
  storage/src/db/crud/song.rs
Due: MECOMP Storage

chore: remove unused dependency
  Cargo.lock
  cli/Cargo.toml
  one-or-many/Cargo.toml
  storage/Cargo.toml
Due: MECOMP Storage

chore: update deps and add build job to ci
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  storage/Cargo.toml
  storage/src/db/schemas/mod.rs
  surrealqlx/macros-impl/Cargo.toml
  x.sh
Due: MECOMP Daemon, MECOMP Storage, SurrealQLX

chore: update main.rs to use current_thread flavor for tokio::main
  cli/src/main.rs
Due: none

chore: clippy
  .cargo/config.toml
  storage/src/test_utils.rs
Due: MECOMP Storage

chore: update todos
  README.md
  cli/src/handlers/mod.rs
  core/src/rpc.rs
Due: MECOMP Core

chore: update githook to use nextest if it is installed
  .githooks/pre-push
Due: none

feat(core): make seek commands operate on durations rather than a u64 amount of seconds.
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  core/src/audio/mod.rs
  core/src/lib.rs
  core/src/rpc.rs
  core/src/state/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

refactor(daemon): simplify controllers
  daemon/src/controller.rs
Due: MECOMP Daemon

refactor(core): mode audio kernel commands to commands module
  core/src/audio/commands.rs
  core/src/audio/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

chore: update deny.toml
  deny.toml
Due: none

ci: update x.sh to only build the release binaries
  .github/workflows/ci.yml
  x.sh
Due: none

refactor(cli): make seek commands more user friendly
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
Due: none

chore(chore): Update tokio dependency to enable multi-threaded runtime
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Daemon

feat(core): Implement seek commands
  core/src/audio/mod.rs
Due: MECOMP Core

feat(daemon): implement playback_seek method in MusicPlayerServer
  daemon/src/controller.rs
Due: MECOMP Daemon

refactor: move some library code away from hard tokio dependency
  daemon/src/dynamic_updates.rs
  daemon/src/services/library.rs
  storage/Cargo.toml
  storage/src/db/mod.rs
  storage/src/errors.rs
Due: MECOMP Daemon, MECOMP Storage

feat(cli): de-clutter state command output
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
Due: none

refactor: use named threads instead
  core/src/audio/mod.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

refactor: improve debug log for successful seek operation
  core/src/audio/mod.rs
Due: MECOMP Core

fix: failing doctest
  .github/workflows/ci.yml
  core/src/audio/mod.rs
Due: MECOMP Core

feat: implement collection freezing
  README.md
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  storage/src/db/crud/collection.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

chore(analysis): add test data
  core/data/capacity_fix.ogg
  core/data/capacity_fix.wav
  core/data/chroma-filter.npy
  core/data/chroma-interval.npy
  core/data/chroma.npy
  core/data/convolve.npy
  core/data/convolve_odd.npy
  core/data/interval-feature-matrix.npy
  core/data/librosa-decoded.npy
  core/data/librosa-stft.npy
  core/data/no_channel.wav
  core/data/piano.flac
  core/data/piano.wav
  core/data/picture.png
  core/data/pitch-tuning.npy
  core/data/s16_mono_22_5kHz.flac
  core/data/s16_stereo_22_5kHz.flac
  core/data/s32_stereo_44_1_kHz.flac
  core/data/s32_stereo_44_1_kHz.mp3
  core/data/spectrum-chroma-mags.npy
  core/data/spectrum-chroma-pitches.npy
  core/data/spectrum-chroma.npy
  core/data/tone_11080Hz.flac
  core/data/white_noise.mp3
Due: MECOMP Core

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
