Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore: typo
  analysis/src/decoder/mod.rs
Due: none

feat: update dependencies and flags
  Cargo.lock
  Cargo.toml
  analysis/src/embeddings.rs
  core/Cargo.toml
  daemon/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  prost/Cargo.toml
  storage/Cargo.toml
  storage/src/db/schemas/dynamic/query.rs
  surrealqlx/macros-impl/Cargo.toml
  tui/Cargo.toml
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat: migrate to ratatui v0.30.0-beta.0
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
  tui/Cargo.toml
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/content_view/views/traits.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refeat(tui): generic SortableItemView with sorting functionality and key handling
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/traits.rs
Due: none

refactor(tui): reimplement collection and (dynamic) playlist views into SortableItemView's
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
Due: none

chore: update flags
  Cargo.lock
  tui/Cargo.toml
Due: none

chore: change migration log level
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

fix(cli): canonicalize paths before sending to daemon
  cli/src/handlers/implementations.rs
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

Refactor analysis module to use f32 instead of f64 for features and embeddings
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/benches/chroma.rs
  analysis/src/chroma.rs
  analysis/src/clustering.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/lib.rs
  analysis/src/misc.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
  cli/src/handlers/smoke_tests.rs
  daemon/benches/recluster.rs
  daemon/src/services/library.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/schemas/analysis.rs
  storage/src/test_utils.rs
  tui/src/lib.rs
Due: MECOMP Daemon, MECOMP Storage

perf(decoder): optimize stereo processing with SIMD vectorization.
  analysis/benches/decoder.rs
  analysis/src/decoder/mecomp.rs
Due: none

refactor(chroma): optimize interval feature extraction by precomputing active indices
  analysis/src/chroma.rs
Due: none

test(chroma): relax tolerance thresholds in pitch and magnitude assertions
  analysis/src/chroma.rs
  core/src/audio/mod.rs
Due: MECOMP Core

Update analysis/benches/decoder.rs
  analysis/benches/decoder.rs
Due: none

Update analysis/src/decoder/mecomp.rs
  analysis/src/decoder/mecomp.rs
Due: none

Update storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

feat: update dependencies
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/benches/decoder.rs
  analysis/benches/decoder_steps.rs
  analysis/src/decoder/mecomp.rs
  cli/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  prost/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
  tui/Cargo.toml
Due: SurrealQLX

refactor: optimize chroma_filter calculations using zip_mut_with
  analysis/src/chroma.rs
Due: none

perf(chroma): optimize median calculation and cache
  analysis/src/chroma.rs
Due: none

perf(extract_interval_features): improve cache locality
  analysis/src/chroma.rs
Due: none

perf: simplify number_crossings function
  analysis/src/timbral.rs
  analysis/src/utils.rs
Due: none

perf(SpectralDesc): optimize FFT buffer usage and processing
  analysis/src/timbral.rs
Due: none

feat(chroma): add benchmark for normalize_feature_sequence with larger array
  analysis/benches/chroma.rs
  analysis/benches/decoder.rs
  analysis/src/lib.rs
Due: none

chore: bump version numbers
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

chore: release v0.7.0
  .github/workflows/release.yml
  CHANGELOG.md
  dist-workspace.toml
Due: none

chore: update CI runners to use Ubuntu 24.04 and Windows 2025
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

refactor(embeddings): remove DirectML execution provider for Windows
  analysis/Cargo.toml
  analysis/src/embeddings.rs
Due: none

Revert "refactor(embeddings): remove DirectML execution provider for Windows"
  Cargo.lock
  analysis/Cargo.toml
  analysis/src/embeddings.rs
Due: none

feat: add setup for MSVC Developer Environment on Windows
  .github/dist/remove-workspace-hack.yml
  dist-workspace.toml
Due: none

chore: dist generate
  .github/workflows/release.yml
Due: none

try downgrading ort
  Cargo.lock
  analysis/Cargo.toml
Due: none

fix: update GitHub runners to latest versions for Windows and Linux
  dist-workspace.toml
Due: none

chore: dist-generate
  .github/workflows/release.yml
Due: none

fix: update ort version to 2.0.0-rc.11
  .github/dist/remove-workspace-hack.yml
  Cargo.lock
  analysis/Cargo.toml
Due: none

fix: add msvc-crt-static configuration for Windows builds
  dist-workspace.toml
Due: none

fix: change pr-run-mode to 'plan' for pull-request CI configuration
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

chore: release v0.7.0
  CHANGELOG.md
Due: none

perf: don't read album art when parsing metadata
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

feat: add dhat heap profiling support
  .gitignore
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/main.rs
Due: MECOMP Daemon

feat(OneOrMany): implement Hash trait
  one-or-many/src/lib.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
