Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: Add WakaTime badge to README.md
  README.md
Due: none

fix(tui): spacing in ArtistView
  tui/src/ui/components/content_view/views/artist.rs
Due: none

feat: Add screenshot to TUI README.md
  assets/tui-screenshot.jpg
  tui/README.md
Due: none

refactor(tui): get rid of strum dependency
  Cargo.lock
  tui/Cargo.toml
  tui/src/ui/components/sidebar.rs
Due: none

fix(tui): for views with potentially long durations (e.g. playlists), display hours as part of duration
  core/src/lib.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
Due: MECOMP Core

feat(daemon): make log level configurable
  Mecomp.toml
  daemon/src/config.rs
  daemon/src/lib.rs
  daemon/src/main.rs
Due: MECOMP Daemon

feat(tui): Update PlaylistView and CollectionView to allow sorting songs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
Due: none

refactor(tui): tree_state selection logic
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refactor(analysis): move decoder impl into separate module
  analysis/src/decoder/mecomp.rs
  analysis/src/decoder/mod.rs
Due: none

bench: Add benchmarks for rescan and analysis services
  Cargo.lock
  daemon/Cargo.toml
  daemon/benches/analyze.rs
  daemon/benches/rescan.rs
  storage/src/util.rs
Due: MECOMP Daemon, MECOMP Storage

feat(analysis): implement decoder with callback
  Cargo.toml
  analysis/src/decoder/mod.rs
  daemon/Cargo.toml
  daemon/src/services/library.rs
Due: MECOMP Daemon

refactor(core): feature gate audio functionality #50
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  daemon/Cargo.toml
  storage/Cargo.toml
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: Update data types in analysis and storage modules
  analysis/src/chroma.rs
  analysis/src/errors.rs
  analysis/src/lib.rs
  analysis/src/misc.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

chore: add analysis to codecov
  codecov.yml
Due: none

feat(analysis): implement clustering of analyses
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/src/clustering.rs
  analysis/src/errors.rs
  analysis/src/lib.rs
Due: none

feat(storage): implement Sample for Analysis
  storage/Cargo.toml
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

refactor(clustering): improve KMeansHelper logging
  analysis/Cargo.toml
  analysis/src/clustering.rs
Due: none

feat(daemon): implement clustering
  cli/src/handlers/mod.rs
  core/src/errors.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
Due: MECOMP Core, MECOMP Daemon

fix(clustering): removing collections fails with datastore error: Max transaction entries limit exceeded
  storage/src/db/crud/collection.rs
Due: MECOMP Storage

feat: Add recluster functionality to to cli and tui
  cli/src/handlers/implementations.rs
  tui/src/state/action.rs
  tui/src/state/library.rs
  tui/src/ui/components/sidebar.rs
Due: none

feat(daemon): Update mecomp-daemon configuration
  Mecomp.toml
  daemon/src/config.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

refactor(rescan): improve test of library rescan feature
  daemon/src/services/library.rs
  storage/Cargo.toml
  storage/src/test_utils.rs
Due: MECOMP Daemon, MECOMP Storage

feat(daemon): Add benchmark for recluster
  assets/gap_statistic_plot.png
  daemon/Cargo.toml
  daemon/benches/recluster.rs
Due: MECOMP Daemon

chore: update readme and todos
  README.md
  TODO.md
  cli/src/handlers/mod.rs
Due: none

refactor: update dependencies
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/audio/mod.rs
  core/src/state/mod.rs
  daemon/src/controller.rs
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

chore: typos
  analysis/src/clustering.rs
Due: none

chore: clippy
  .github/workflows/codecov-action.yml
  analysis/src/timbral.rs
Due: none

refactor(tui): move away from needing the material crate for colors
  Cargo.lock
  tui/Cargo.toml
  tui/src/ui/colors.rs
Due: none

refactor(audio): Remove example code from `AudioKernel::init` method
  core/src/audio/mod.rs
Due: MECOMP Core

refactor(one-or-many): Improve trait implementations
  one-or-many/src/lib.rs
  one-or-many/src/query_result_impl.rs
Due: none

refactor(recluster): reduce number of songs in test to speed things up
  daemon/src/services/library.rs
Due: MECOMP Daemon

refactor: Simplify code for getting selected things from tree state
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refactor(tui): update to ratatui 0.27
  tui/Cargo.toml
  tui/src/ui/colors.rs
  tui/src/ui/components/control_panel.rs
Due: none

feat(tui): implement CheckTree widget
  TODO.md
  tui/src/ui/widgets/tree/flatten.rs
  tui/src/ui/widgets/tree/item.rs
  tui/src/ui/widgets/tree/mod.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

refactor: update control panel instructions for play/pause symbol
  tui/src/ui/components/control_panel.rs
Due: none

feat(tui): add popup state update method
  tui/src/ui/app.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refactor(tui): use CheckTree stage 1
  Cargo.lock
  tui/Cargo.toml
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

fix(daemon): fix detached audio kernel
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Daemon

refactor(tui): update ComponentRender trait
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/mod.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
  tui/src/ui/widgets/tree/state.rs
Due: none
