Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

perf(analysis): serialize square-in-place in chroma_stft
  analysis/Cargo.toml
  analysis/src/chroma.rs
Due: none

perf(analysis): merge BPM, ZCR, and Loudness calculation for analysis
  analysis/src/lib.rs
Due: none

perf(analysis): use rayon for analyze_paths_with_cores functions
  analysis/src/decoder/mod.rs
Due: none

perf(analysis): optimize ZeroCrossingRateDesc by using a counter instead of a vector
  analysis/src/misc.rs
  analysis/src/timbral.rs
Due: none

refactor(decoder): simplify error handling
  analysis/src/decoder/mecomp.rs
  analysis/src/lib.rs
Due: none

refactor(clippy): clippy and dependency updates
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  analysis/src/decoder/mecomp.rs
  analysis/src/decoder/mod.rs
  mecomp-workspace-hack/Cargo.toml
  surrealqlx/macros-impl/src/lib.rs
  tui/Cargo.toml
Due: SurrealQLX

refactor(dependencies): prune unnecessary featuers
  Cargo.lock
  analysis/Cargo.toml
  cli/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  mpris/Cargo.toml
  storage/Cargo.toml
  tui/Cargo.toml
Due: MECOMP Storage

chore(workflows): update actions
  .github/workflows/cd.yml
  .github/workflows/codecov-action.yml
Due: none

refactor: address new clippy lints
  core/src/audio/mod.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  daemon/src/services/library.rs
  mpris/src/interfaces/player.rs
  mpris/src/lib.rs
  mpris/src/main.rs
  one-or-many/src/lib.rs
  storage/src/db/crud/album.rs
  storage/src/db/schemas/mod.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/tree/item.rs
  tui/src/ui/widgets/tree/state.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

fix(perf): re-enable simd for audio stuff
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  core/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core

refactor(logger): improve file path processing for logging
  core/src/logger.rs
Due: MECOMP Core

feat(daemon): implement gracefull handling of shutdown signals like the tui has
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/src/termination.rs
Due: MECOMP Daemon

refactor(daemon): improve shutdown handling and resolve todo comment
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Daemon

feat(binaries): shell completions
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/main.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  mpris/Cargo.toml
  mpris/src/main.rs
  tui/Cargo.toml
  tui/src/main.rs
Due: MECOMP Daemon

feat(cli): improve completion value hints and help strings
  cli/src/handlers/mod.rs
Due: none

feat(cli): additional aliases for volume and seek commands
  cli/src/handlers/mod.rs
Due: none

feat(cli): update command handlers to support quiet mode and improve output formatting
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_dynamic_playlist_command_case_3@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_12@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_library_command_case_13@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playlist_command_case_09@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_10@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_11@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_queue_command_case_11@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_1_quiet_1_true@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_1_quiet_1_true@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_1_quiet_2_false@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_1_quiet_2_false@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_2_quiet_1_true@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_2_quiet_1_true@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_2_quiet_2_false@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_2_quiet_2_false@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_1_true@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_1_true@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_2_false@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_3_quiet_2_false@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_4_quiet_1_true@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_4_quiet_1_true@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_4_quiet_2_false@stderr.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_search_command_case_4_quiet_2_false@stdout.snap
Due: none

feat(git-hooks): modify pre-push script to skip target directory in cargo machete
  .githooks/pre-push
Due: none

misc(deps): surrealdb v2.2.2
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: none

fix(tests): fix flaky test
  storage/src/db/mod.rs
Due: MECOMP Storage

refactor(test): use a more robust method of checking results
  storage/src/db/mod.rs
Due: MECOMP Storage

chore: bump version numbers
  Cargo.lock
  Cargo.toml
Due: none

fix: bump more version numbers
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

fix(daemon): add missing command attributes to cli `Flags` struct
  Cargo.lock
  Cargo.toml
  daemon/Cargo.toml
  daemon/src/main.rs
Due: MECOMP Daemon

feat(one-or-many): Implement the Extend trait
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
Due: none

fix(radio): return an empty list when radio endpoints are called w/ an empty list fixes bug(daemon): calling the radio endpoints w/ an empty list doesn't error #278
  daemon/src/services/mod.rs
  daemon/src/services/radio.rs
  storage/src/db/crud/analysis.rs
Due: MECOMP Daemon, MECOMP Storage

fix(typo)
  storage/src/db/queries/analysis.rs
Due: MECOMP Storage

feat(one-or-many): enhance deserialization
  Cargo.lock
  Cargo.toml
  one-or-many/Cargo.toml
  one-or-many/src/lib.rs
Due: none

feat(storage/utils): implement function to split artist names with exceptions
  storage/src/util.rs
Due: MECOMP Storage

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
