Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore(daemon): correct documentation
  daemon/src/controller.rs
Due: MECOMP Daemon

test(daemon): integration testing for endpoints not alreaddy covered
  daemon/src/config.rs
  daemon/src/lib.rs
Due: MECOMP Daemon

chore: update dependencies
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  tui/Cargo.toml
Due: none

refactor(config): correct MetadataConflictResolution deserialization
  daemon/src/config.rs
  storage/src/util.rs
Due: MECOMP Daemon, MECOMP Storage

feat(config): enhance configuration handling and add default settings tests
  daemon/src/config.rs
  daemon/src/main.rs
Due: MECOMP Daemon

refactor(daemon): increase coverage of library rescan function
  daemon/src/services/library.rs
Due: MECOMP Daemon

chore: prep for v0.1.3 release
  Cargo.lock
  Cargo.toml
Due: none

feat(tui): add random view and integrate into sidebar and state management
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
Due: none

chore(tui): fix typo
  tui/src/ui/components/content_view/views/random.rs
Due: none

feat: refactor locking mechanism in MusicPlayerServer to use instance-specific Mutex
  daemon/src/controller.rs
Due: MECOMP Daemon

feat(cli): enhance command handling with output adapters for stdout and stderr
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/utils.rs
  cli/src/main.rs
Due: none

feat(tests): add snapshot tests for command output using insta
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/handlers/smoke_tests.rs
Due: none

chore: fix typo
  cli/src/handlers/implementations.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__playback_command@stdout-Playback { command: Seek { command: Absolute { position: 0.0 } } }.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__playback_command@stdout-Playback { command: Seek { command: Backward { amount: 0.0 } } }.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__playback_command@stdout-Playback { command: Seek { command: Forward { amount: 0.0 } } }.snap
Due: none

chore: update statrs dependency to version 0.18.0
  Cargo.lock
  analysis/Cargo.toml
Due: none

chore: update OTLP dependencies
  Cargo.lock
  Cargo.toml
  core/src/logger.rs
Due: MECOMP Core

feat(daemon): implement pub/sub functionality for client-side notifications
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

feat(tui): add Subscriber for handling application notifications
  Cargo.lock
  tui/Cargo.toml
  tui/src/lib.rs
  tui/src/main.rs
  tui/src/ui/mod.rs
Due: none

refactor(rpc): consolidate event notifications into a single notify_event endpoint
  core/src/rpc.rs
  daemon/src/controller.rs
  tui/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

refactor(rpc): update application subscription methods and add client enumeration functionality
  core/src/rpc.rs
  daemon/src/controller.rs
  tui/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

test(tui): add unit tests for Subscriber functionality and event notifications
  Cargo.lock
  tui/Cargo.toml
  tui/src/lib.rs
Due: none

chore: fix typo
  core/src/rpc.rs
Due: MECOMP Core

test(tui): parameterize notify_event test cases for improved coverage
  tui/src/lib.rs
Due: none

fix(tui): simplify application deregistration logic in Subscriber
  tui/src/lib.rs
Due: none

refactor(daemon): use UDP for client notifications
  Cargo.lock
  Cargo.toml
  cli/src/handlers/smoke_tests.rs
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  core/src/rpc.rs
  core/src/udp.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  tui/Cargo.toml
  tui/src/lib.rs
  tui/src/main.rs
Due: MECOMP Core, MECOMP Daemon

fix(dependencies): update RPC and tracing dependencies in Cargo.toml
  core/Cargo.toml
Due: MECOMP Core

refactor(daemon udp): track client addresses instead of broadcasting
  core/Cargo.toml
  core/src/errors.rs
  core/src/rpc.rs
  core/src/udp.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  tui/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

refactor(core): make the udp Sender/Listener types generic over T
  core/src/udp.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

bench(udp): benchmark udp impl to motivate optimizations
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/benches/udp.rs
Due: MECOMP Core

refactor(udp): optimize buffer management in Sender and update publisher to use RwLock
  core/src/udp.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
