Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat(tui): implement LibrarySongsView
  TODO.md
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

feat(tui): implement LibraryAlbumsView
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

feat(tui): implement AlbumView
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
Due: none

refactor(tui): Update SongView to display genre information last
  tui/src/ui/components/content_view/views/song.rs
Due: none

feat(tui): implement ArtistView and LibraryArtistsView
  TODO.md
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
Due: none

feat(tui): implement PlaylistView, LibraryPlaylistsView, CollectionView, and LibraryCollectionView
  TODO.md
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

refactor: radio endpoints
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/services/radio.rs
Due: MECOMP Core, MECOMP Daemon

chore: add tui to codecov
  codecov.yml
Due: none

feat(tui): Implement radio views and actions
  TODO.md
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/mod.rs
Due: none

feat(tui): Add colors module and update app styling to use those colors
  Cargo.lock
  tui/Cargo.toml
  tui/src/ui/app.rs
  tui/src/ui/colors.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/searchbar.rs
Due: none

fix(core): playback resetting when removing songs from queue
  TODO.md
  core/src/audio/mod.rs
  core/src/audio/queue.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Core, MECOMP Storage

ci: add mecomp-tui to CI/CD
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  x.sh
Due: none

chore: typo
  tui/src/ui/components/content_view/views/mod.rs
Due: none

fix(metadata): ignore duplicate artists/genres when loading metadata
  daemon/src/services/library.rs
  storage/src/db/schemas/song.rs
Due: MECOMP Daemon, MECOMP Storage

refactor: Remove unused 'things' field in RadioViewProps
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/mod.rs
Due: none

refactor: rename SearchBox to InputBox
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/mod.rs
Due: none

stash
  tui/src/ui/widgets/mod.rs
  tui/src/ui/widgets/playlist_popup.rs
Due: none

refactor: Update search bar rendering in SearchView
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/widgets/input_box.rs
Due: none

feat(tui): playlist creation and management actions
  TODO.md
  tui/src/state/action.rs
  tui/src/state/library.rs
  tui/src/ui/components/content_view/views/playlist.rs
Due: none

feat(tui): implement popup management
  tui/src/state/action.rs
  tui/src/state/mod.rs
  tui/src/state/popup.rs
  tui/src/state/view.rs
  tui/src/ui/app.rs
  tui/src/ui/colors.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/mod.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

fix(storage): add uniqueness constraint to playlist name
  storage/src/db/schemas/playlist.rs
Due: MECOMP Storage

refactor(daemon): Consolidate song retrieval logic for handling lists of things
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/services/mod.rs
  daemon/src/services/radio.rs
Due: MECOMP Core, MECOMP Daemon

feat(cli): improve playlist creation error handling
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

feat(tui): implement add to playlist functionality to applicable views
  TODO.md
  cli/src/handlers/implementations.rs
  daemon/src/services/mod.rs
  tui/src/state/action.rs
  tui/src/state/library.rs
  tui/src/state/mod.rs
  tui/src/state/popup.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Daemon

fix(tui): radio view missing enter functionality
  tui/src/ui/components/content_view/views/radio.rs
Due: none

fix(tui): playlist state update propagation
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/mod.rs
Due: none

refactor: Reset search bar after performing search in SearchView
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/widgets/input_box.rs
Due: none

chore: Update build job
  .github/workflows/cd.yml
Due: none

cd: Update build job matrix to include macOS and Windows
  .github/workflows/cd.yml
  README.md
  x.sh
Due: none

cd: add x.ps1 for windows and use bindgen feature on macos
  .github/workflows/cd.yml
  Cargo.lock
  analysis/Cargo.toml
  x.ps1
Due: none

chore: Add clippy and test functions to x.ps1
  x.ps1
Due: none

fix(daemon): cross-platform music library watcher initialization
  daemon/src/dynamic_updates.rs
Due: MECOMP Daemon

refactor: Comment out error-y lines in x.ps1
  x.ps1
Due: none

cd: completely overhaul action
  .github/workflows/cd.yml
  x.ps1
Due: none

chore: Update musl-tools installation in cd.yml
  .github/workflows/cd.yml
Due: none

chore: Update target for Linux-x86_64 in cd.yml
  .github/workflows/cd.yml
  Cargo.toml
Due: none

chore: Update upload-artifact action to v4.3.3 in cd.yml
  .github/workflows/cd.yml
Due: none

chore: Remove Windows-aarch64 target in cd.yml
  .github/workflows/cd.yml
Due: none

feat: Add default config file if it doesn't exist
  daemon/src/main.rs
Due: MECOMP Daemon

chore: update readme
  README.md
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
