Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat(core): implement OnceLockDefault struct
  core/src/lib.rs
Due: MECOMP Core

feat(tui): refactor color definitions to enable lazy initialization from config
  core/src/lib.rs
  tui/src/main.rs
  tui/src/ui/app.rs
  tui/src/ui/colors.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Core

chore: add example configurations for mecomp, including Zellij layout and pywal theme
  assets/tui-themed-with-pywal.png
  examples/README.md
  examples/colors-Mecomp.toml
  examples/mecomp.kdl
Due: none

release: v0.5.2
  Cargo.lock
  Cargo.toml
Due: none

chore: add serde_json to workspace dependencies
  Cargo.toml
  one-or-many/Cargo.toml
  storage/Cargo.toml
Due: MECOMP Storage

feat(daemon): implement queue persistence mechanism with serialization support
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/lib.rs
  daemon/src/persistence.rs
Due: MECOMP Daemon

feat(daemon): integrate queue state persistence functionality
  daemon/src/lib.rs
  daemon/src/main.rs
Due: MECOMP Daemon

fix(daemon): issue where interrupt receiver could lag
  daemon/src/termination.rs
Due: MECOMP Daemon

chore: fix typos
  daemon/src/persistence.rs
Due: MECOMP Daemon

feat(tui): update play/pause symbols
  tui/src/ui/components/control_panel.rs
Due: none

fix(tui): fix mouse hitboxes for some components
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/sidebar.rs
Due: none

release: v0.5.3
  Cargo.lock
  Cargo.toml
Due: none

dist: add changelog
  CHANGELOG.md
Due: none

feat(tui): ctrl-click mechanics for checktree's
  tui/src/ui/components/content_view/views/mod.rs
Due: none

feat(tui): overhaul click handling for checktree's
  tui/src/ui/colors.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

fix typos in changelog
  CHANGELOG.md
Due: none

fix failing gh action
  .github/workflows/ci.yml
Due: none

migrate to criterion 0.7.0
  Cargo.lock
  Cargo.toml
  analysis/benches/analysis.rs
  analysis/benches/chroma.rs
  analysis/benches/decoder.rs
  analysis/benches/decoder_steps.rs
  analysis/benches/descriptors.rs
  analysis/benches/utils.rs
Due: none

feat(oneormany): box One variant
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/handlers/smoke_tests.rs
  core/src/audio/commands.rs
  core/src/audio/mod.rs
  core/src/audio/queue.rs
  core/src/config.rs
  core/src/errors.rs
  daemon/benches/rescan.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  daemon/src/lib.rs
  daemon/src/services/backup.rs
  daemon/src/services/library.rs
  one-or-many/Cargo.toml
  one-or-many/src/iter.rs
  one-or-many/src/lib.rs
  one-or-many/src/query_result_impl.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/queries/generic.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/song.rs
  storage/src/lib.rs
  storage/src/test_utils.rs
  tui/src/lib.rs
  tui/src/test_utils.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/song.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: improve logging format and simplify logic across modules
  analysis/src/decoder/mod.rs
  core/src/logger.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  daemon/src/services/backup.rs
  storage/src/errors.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/playlist.rs
  tui/src/ui/widgets/tree/flatten.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: reduce cognitive complexity
  cli/src/handlers/implementations.rs
  daemon/src/lib.rs
  tui/src/state/library.rs
Due: MECOMP Daemon

feat: migrate to rodio v0.21.1
  Cargo.lock
  Cargo.toml
  core/src/audio/mod.rs
Due: MECOMP Core

remove accidentally introduced magic value
  core/src/audio/mod.rs
Due: MECOMP Core

feat: migrate to surrealdb v2.3.7
  Cargo.lock
  Cargo.toml
  one-or-many/src/query_result_impl.rs
  storage/src/db/queries/mod.rs
  storage/src/db/schemas/dynamic/mod.rs
Due: MECOMP Storage

release: v0.5.4
  Cargo.lock
  Cargo.toml
  mpris/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

update changelog
  CHANGELOG.md
Due: none

fix(storage): compilation error when db feature not enabled
  storage/src/errors.rs
Due: MECOMP Storage

chore: release v0.5.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

clippy: mismatched_lifetime_syntaxes and or_fun_call
  analysis/src/clustering.rs
  analysis/src/utils.rs
  core/src/audio/mod.rs
  core/src/config.rs
  mpris/src/lib.rs
  one-or-many/src/iter.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/dynamic.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/song.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/traits.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Core, MECOMP Storage

pin action verisons
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/typo.yml
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
