Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore: bump package versions to 0.2.0
  Cargo.lock
  Cargo.toml
Due: none

refactor(tui): remove busy-wait on some library actions
  tui/src/lib.rs
  tui/src/state/library.rs
Due: none

chore: update GitHub Actions workflow to support manual triggers
  .github/workflows/publish-crates.yml
Due: none

oops: add mecomp-mpris to build matrix in CI workflow
  .github/workflows/cd.yml
Due: none

refactor: move default config file creation and retrieval to Settings struct
  core/src/config.rs
  daemon/src/main.rs
Due: MECOMP Core, MECOMP Daemon

feat(config): add TUI settings for radio song query count
  Cargo.lock
  core/Mecomp.toml
  core/src/config.rs
  daemon/Cargo.toml
  tui/src/main.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Core, MECOMP Daemon

refactor: move config/settings management to mecomp_core
  Cargo.lock
  cli/src/handlers/smoke_tests.rs
  core/Cargo.toml
  core/Mecomp.toml
  core/src/config.rs
  core/src/lib.rs
  daemon/Cargo.toml
  daemon/benches/recluster.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/src/services/library.rs
  mpris/src/lib.rs
  tui/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

Update publish-crates.yml
  .github/workflows/publish-crates.yml
Due: none

refactor: remove unnecessary clippy allows and simplify code structure
  daemon/src/controller.rs
  one-or-many/src/lib.rs
  storage/src/db/queries/mod.rs
  storage/src/db/schemas/mod.rs
  tui/src/state/action.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/tree/item.rs
  tui/src/ui/widgets/tree/mod.rs
  tui/src/ui/widgets/tree/state.rs
Due: MECOMP Daemon, MECOMP Storage

fix(analysis): correct error with gap calculation
  analysis/src/clustering.rs
  analysis/src/utils.rs
Due: none

feat(analysis): add extra assertions for utils
  analysis/src/utils.rs
Due: none

refactor(analysis): remove unused convolve function and associated benchmark
  analysis/benches/utils.rs
  analysis/src/utils.rs
Due: none

refactor(tui): simplify logic and reduce some duplication
  storage/src/db/queries/mod.rs
  tui/src/ui/colors.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Storage

refactor(tui): simplify logic and reduce some duplication
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
Due: MECOMP Storage

fix(storage): fix panic on defining analyzer (#252)
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
Due: MECOMP Storage

fix(logger): change method to retrieve file name
  core/src/logger.rs
Due: MECOMP Core

chore: prep for v0.2.1 release
  Cargo.lock
  Cargo.toml
  README.md
  mecomp-workspace-hack/Cargo.toml
  one-or-many/Cargo.toml
Due: none

refactor: migrate from Arc<str>'s to Strings for easier debugging
  cli/src/handlers/smoke_tests.rs
  core/src/state/mod.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  daemon/src/lib.rs
  daemon/src/services/library.rs
  mpris/src/interfaces/player.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/dynamic/query.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

HOTFIX: pin surrealdb to 2.2.0
  Cargo.lock
  Cargo.toml
Due: none

chore: prep for v0.2.2 release
  Cargo.lock
  Cargo.toml
Due: none

refactor(storage): move from using Thing's to RecordId's for tracking the id's of database records
  cli/src/handlers/implementations.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/utils.rs
  core/src/rpc.rs
  core/src/udp.rs
  daemon/src/controller.rs
  daemon/src/services/mod.rs
  daemon/src/services/radio.rs
  mpris/src/interfaces/player.rs
  mpris/src/lib.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/dynamic.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/dynamic/mod.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
  tui/src/lib.rs
  tui/src/state/action.rs
  tui/src/test_utils.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/traits.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

fix(storage): migrate to surrealdb 2.2.1
  Cargo.lock
  Cargo.toml
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/mod.rs
  storage/src/db/queries/album.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/collection.rs
  storage/src/db/queries/generic.rs
  storage/src/db/queries/mod.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/queries/song.rs
Due: MECOMP Storage

refactor(tests): avoid direct comparison of floats
  analysis/src/chroma.rs
  analysis/src/clustering.rs
  analysis/src/temporal.rs
  analysis/src/timbral.rs
  analysis/src/utils.rs
  core/src/audio/mod.rs
  core/src/state/mod.rs
  mpris/src/interfaces/player.rs
  tui/src/ui/app.rs
Due: MECOMP Core

refactor(tests): set expected panic messages for tests that should_panic
  core/src/audio/mod.rs
  one-or-many/src/lib.rs
Due: MECOMP Core

refactor(tests): remove Result return type from some test functions
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

refactor(tests): clean up code by renaming functions, improving readability, and addressing clippy warnings
  analysis/benches/utils.rs
  analysis/src/decoder/mecomp.rs
  core/benches/udp.rs
  daemon/src/dynamic_updates.rs
  daemon/src/services/library.rs
  one-or-many/src/query_result_impl.rs
  storage/src/db/crud/song.rs
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
  storage/src/db/schemas/dynamic/query.rs
  tui/src/lib.rs
  tui/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
