Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

bug(tui/input box): fix panic when entering non-ascii characters in an input box
  tui/src/ui/widgets/input_box.rs
Due: none

fix(dynamic playlist query): fix string parsing
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

refactor(tui/sort mode): simplify sorting by name logic with NameSortable trait
  tui/src/ui/components/content_view/views/sort_mode.rs
Due: none

test(tui): increase coverage for popups
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

refactor(tui/search): streamline mouse event handling in SearchView
  tui/src/ui/components/content_view/views/search.rs
Due: none

refactor(tui/dynamic): simplify key event handling in LibraryDynamicView
  tui/src/ui/components/content_view/views/dynamic.rs
Due: none

chore(tui/tests): rename some test functions for clarity
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
Due: none

test(tui/dynamic): test dynamic playlist views
  tui/src/ui/components/content_view/views/dynamic.rs
Due: none

test(storage): validate compilation of queries "for execution"
  storage/src/db/schemas/dynamic/query.rs
Due: MECOMP Storage

test(tui/issue 226): update tests to ensure correct behavior
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

fix(tui/issue 226): clear selection on click in empty region of a checktree
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

feat(rpc): add method to get a song by its file path
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

fix(tui): bug where checked items weren't always cleared acros view transitions
  tui/src/ui/components/content_view/views/generic.rs
Due: none

feat(daemon): implement playback stop endpoint
  core/src/audio/commands.rs
  core/src/audio/mod.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

feat(tui): rely on udp events more instead of calling the daemon every 100ms to get updated state
  tui/src/lib.rs
  tui/src/state/action.rs
  tui/src/state/audio.rs
Due: none

fix(audio): correct behavior around restoring status after a action that would cause the player to be cleared
  core/src/audio/mod.rs
Due: MECOMP Core

feat(udp): publish state changes over UDP
  cli/src/handlers/smoke_tests.rs
  core/src/audio/mod.rs
  core/src/state/mod.rs
  core/src/udp.rs
  daemon/src/controller.rs
  daemon/src/lib.rs
  tui/src/lib.rs
Due: MECOMP Core, MECOMP Daemon

feat(audio): update representation and behavior of playback status and repeat mode
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playback_command_case_18@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_playback_command_case_19@stdout.snap
  cli/src/handlers/snapshots/mecomp_cli__handlers__smoke_tests__handlers_smoke_tests_test_state_command@stdout.snap
  core/src/audio/commands.rs
  core/src/audio/mod.rs
  core/src/audio/queue.rs
  core/src/state/mod.rs
  core/src/udp.rs
  daemon/src/controller.rs
  storage/Cargo.toml
  tui/src/lib.rs
  tui/src/state/audio.rs
  tui/src/ui/app.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/queuebar.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

fix(audio): only emit VolumeChanged events if the volume would change
  core/src/audio/commands.rs
  core/src/audio/mod.rs
  typos.toml
Due: MECOMP Core

fix(core): correct default for StateAudio struct and add unit test
  core/src/state/mod.rs
Due: MECOMP Core

fix(audio): the play command should be a no-op if there is nothing to play
  core/src/audio/mod.rs
Due: MECOMP Core

feat(mpris): Implement MPRIS compatability layer with Root and Player interfaces supported
  Cargo.lock
  Cargo.toml
  README.md
  TODO.md
  assets/mpris-introspect-screenshot.png
  mecomp-workspace-hack/Cargo.toml
  mpris/Cargo.toml
  mpris/README.md
  mpris/src/interfaces/mod.rs
  mpris/src/interfaces/player.rs
  mpris/src/interfaces/playlists.rs
  mpris/src/interfaces/root.rs
  mpris/src/interfaces/tracklist.rs
  mpris/src/lib.rs
  mpris/src/main.rs
Due: none

feat(build): add mecomp-mpris to CI workflows and scripts
  .github/workflows/cd.yml
  .github/workflows/publish-crates.yml
  codecov.yml
  x.sh
Due: none

fix(dynamic_updates): update valid extensions list
  daemon/src/dynamic_updates.rs
Due: MECOMP Daemon

refactor(ui): remove media key handling from App and simplify ControlPanel key events
  tui/src/ui/app.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/mod.rs
Due: none

feat(tests): add init_test_database_with_state function for enhanced test setup
  storage/src/test_utils.rs
Due: MECOMP Storage

feat(tests): add test_utils feature to mecomp_core to expose logger init function
  Cargo.toml
  core/Cargo.toml
  core/src/lib.rs
  daemon/Cargo.toml
  daemon/src/lib.rs
  daemon/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon

chore: fix typos
  core/src/state/mod.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Storage

feat(db): improve full text search anaylzer with edgengram and ascii filters
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
Due: MECOMP Storage

chore: fix typo in cd.yml workflow
  .github/workflows/cd.yml
Due: none

chore: bump surrealqlx version number
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

fix(logger): update longest path and file references in logger formatting
  core/src/logger.rs
  scripts/longest.sh
Due: MECOMP Core

feat: update depencies and improve tracing
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  core/src/logger.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
  tui/Cargo.toml
Due: MECOMP Core, MECOMP Daemon
