Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

chore: release v0.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: release v0.6.0
  core/Cargo.toml
  dist-workspace.toml
  mpris/Cargo.toml
  x.sh
Due: MECOMP Core

feat: add commit-msg hook to verify release builds
  .githooks/commit-msg
Due: none

feat(x.sh): add publish command for dry-run package publishing
  .githooks/commit-msg
  analysis/Cargo.toml
  cli/Cargo.toml
  daemon/Cargo.toml
  mpris/Cargo.toml
  prost/Cargo.toml
  tui/Cargo.toml
  x.sh
Due: MECOMP Daemon

refactor(prost): update proto compilation and include method
  prost/build.rs
  prost/src/lib.rs
Due: none

fix: update tokio dependencies across multiple packages to include only necessary features
  Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  daemon/Cargo.toml
  mpris/Cargo.toml
  tui/Cargo.toml
Due: MECOMP Core, MECOMP Daemon

refactor(daemon): box pin directly instead of depending on futures crate
  Cargo.lock
  Cargo.toml
  daemon/Cargo.toml
  daemon/src/dynamic_updates.rs
  mpris/Cargo.toml
Due: MECOMP Daemon

refactor: bring tonic to workspace deps
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/handlers/implementations.rs
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/lib.rs
  prost/Cargo.toml
  prost/src/lib.rs
  tui/Cargo.toml
  tui/src/state/library.rs
Due: MECOMP Daemon

chore: update workspace hack
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
Due: none

chore: update dependencies
  Cargo.lock
  Cargo.toml
Due: none

feat(analysis/decoder): enable gapless playback in format options and tighten analysis assertion tolerance
  analysis/src/decoder/mecomp.rs
Due: none

feat(analysis/chroma): improve chroma features
  analysis/data/chroma/Caug.ogg
  analysis/data/chroma/Cdim.ogg
  analysis/data/chroma/Cmaj.ogg
  analysis/data/chroma/Cmin.ogg
  analysis/data/chroma/Dmaj.ogg
  analysis/data/chroma/major_second.ogg
  analysis/data/chroma/major_seventh.ogg
  analysis/data/chroma/major_sixth.ogg
  analysis/data/chroma/major_third.ogg
  analysis/data/chroma/minor_second.ogg
  analysis/data/chroma/minor_seventh.ogg
  analysis/data/chroma/minor_sixth.ogg
  analysis/data/chroma/minor_third.ogg
  analysis/data/chroma/perfect_fifth.ogg
  analysis/data/chroma/perfect_fourth.ogg
  analysis/data/chroma/tritone.ogg
  analysis/src/chroma.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/lib.rs
Due: none

feat(analysis/chroma): add additional chroma features
  CHANGELOG.md
  analysis/data/chroma/Cmaj_triads.ogg
  analysis/data/chroma/dyad_tritone_IC6.ogg
  analysis/data/chroma/triad_aug_maximize_ratio.ogg
  analysis/src/chroma.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/lib.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/schemas/analysis.rs
  storage/src/test_utils.rs
Due: MECOMP Storage

feat(surrealqlx): implement migration handling
  Cargo.lock
  Cargo.toml
  one-or-many/src/query_result_impl.rs
  storage/src/db/mod.rs
  storage/src/test_utils.rs
  surrealqlx/lib/Cargo.toml
  surrealqlx/lib/src/lib.rs
  surrealqlx/lib/src/migrations.rs
  surrealqlx/lib/src/traits.rs
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros-impl/src/lib.rs
  surrealqlx/macros-impl/src/tests.rs
  surrealqlx/macros/Cargo.toml
Due: MECOMP Storage, SurrealQLX

feat(analysis): add migration for feature size change
  CHANGELOG.md
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

feat(analysis): implement delete_all method for analyses and use it for --overwrite
  daemon/src/services/library.rs
  storage/src/db/crud/analysis.rs
Due: MECOMP Daemon, MECOMP Storage

feat(analysis): update custom analyzer registration and definition logic
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
Due: MECOMP Storage

feat(analysis): refactor relation table definitions to use migrations
  storage/src/db/queries/relations.rs
Due: MECOMP Storage

chore: release v0.6.0
  .config/nextest.toml
  CHANGELOG.md
  storage/Cargo.toml
  storage/src/db/schemas/analysis.rs
  surrealqlx/lib/Cargo.toml
Due: MECOMP Storage, SurrealQLX

feat(analysis/migration): clear analysis_to_song relations to prevent dangling relations
  storage/src/db/crud/analysis.rs
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

chore: release v0.6.1 (hotfix)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat(analysis/migration): ensure analysis_to_song relations table exists before deletion
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

feat: macro for compile-time surrealQL query validation
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  storage/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/lib/src/migrations.rs
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros-impl/src/lib.rs
  surrealqlx/macros-impl/src/surrql.rs
  surrealqlx/macros/Cargo.toml
  surrealqlx/macros/src/lib.rs
Due: MECOMP Storage, SurrealQLX

refactor: simplify database initialization and analyzer definition
  storage/src/db/mod.rs
  storage/src/db/queries/mod.rs
Due: MECOMP Storage

refactor: simplify song CRUD operations by using select queries
  storage/src/db/crud/album.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/dynamic.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/queries/album.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/collection.rs
  storage/src/db/queries/generic.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/queries/relations.rs
  storage/src/db/queries/song.rs
  storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/song.rs
  storage/src/lib.rs
Due: MECOMP Storage

feat: implement custom Debug formatting for RecordId struct
  storage/src/db/crud/song.rs
  storage/src/db/schemas/mod.rs
Due: MECOMP Storage

Update storage/src/db/queries/playlist.rs
  storage/src/db/queries/playlist.rs
Due: MECOMP Storage

Update storage/src/db/mod.rs
  storage/src/db/mod.rs
Due: MECOMP Storage

feat: improve error reporting for migrations
  surrealqlx/lib/Cargo.toml
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

fix: analysis migrations
  storage/src/db/schemas/analysis.rs
Due: MECOMP Storage

chore: typo
  surrealqlx/lib/src/migrations.rs
Due: SurrealQLX

feat: simplify radio CLI commands
  cli/src/handlers/complete.rs
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/smoke_tests.rs
Due: none

feat: add StdIn trait to abstract away details about stdin
  cli/src/handlers/utils.rs
Due: none
