Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore: typo
  daemon/src/lib.rs
Due: MECOMP Daemon

feat(tui): update to ratatui 0.28.1
  Cargo.lock
  tui/Cargo.toml
  tui/src/test_utils.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

feat(core): allow users to specify multiple artist separators.
  Mecomp.toml
  daemon/benches/rescan.rs
  daemon/src/config.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  daemon/src/services/library.rs
  one-or-many/src/lib.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Daemon, MECOMP Storage

refactor: migrate to surrealdb 2.0
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  core/build.rs
  daemon/src/controller.rs
  daemon/src/services/library.rs
  mecomp-workspace-hack/Cargo.toml
  one-or-many/src/query_result_impl.rs
  storage/build.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/analysis.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/queries/album.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/collection.rs
  storage/src/db/queries/generic.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/queries/song.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/analysis.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/mod.rs
  storage/src/db/schemas/playlist.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
  surrealqlx/macros/build.rs
  tui/build.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

chore: clippy lints
  analysis/src/clustering.rs
  daemon/src/config.rs
  daemon/src/controller.rs
  daemon/src/dynamic_updates.rs
  mecomp-workspace-hack/Cargo.toml
  storage/src/db/queries/album.rs
  storage/src/db/queries/analysis.rs
  storage/src/db/queries/artist.rs
  storage/src/db/queries/generic.rs
  storage/src/db/queries/playlist.rs
  storage/src/db/queries/song.rs
  storage/src/test_utils.rs
  tui/src/termination.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
Due: MECOMP Daemon, MECOMP Storage

feat(tui): handle more types of Os Signals (SigTerm and SigQuit)
  tui/src/main.rs
  tui/src/termination.rs
Due: none

feat: tui starts daemon if daemon not already running
  core/src/lib.rs
  daemon/src/lib.rs
  tui/Cargo.toml
  tui/src/main.rs
Due: MECOMP Core, MECOMP Daemon

feat(logging): store logs in a log file as well as printing them to screen
  core/src/logger.rs
  core/src/test_utils.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/src/test_utils.rs
Due: MECOMP Core, MECOMP Daemon

chore(deps): update dependencies
  Cargo.lock
  analysis/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  tui/Cargo.toml
Due: none

Add piped input support for radio, and playlist add subcommands
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
Due: none

feat(clustering): run t-sne before clustering, migrate to linfa libraries
  Cargo.toml
  Mecomp.toml
  analysis/Cargo.toml
  analysis/src/clustering.rs
  analysis/src/errors.rs
  analysis/src/lib.rs
  daemon/src/config.rs
  daemon/src/services/library.rs
  storage/src/db/schemas/analysis.rs
Due: MECOMP Daemon, MECOMP Storage

chore: update variable names to account for clusetering algorithm changes
  daemon/src/services/library.rs
Due: MECOMP Daemon

chore: hakari
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
Due: none

feat(clustering): switch to GMM as default for clustering, and allow users to choose clustering method
  Cargo.lock
  Mecomp.toml
  analysis/src/clustering.rs
  analysis/src/errors.rs
  daemon/benches/recluster.rs
  daemon/src/config.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

fix(tarpaulin): fix timeout during coverage analysis
  daemon/src/services/library.rs
Due: MECOMP Daemon

test(cli): add smoke tests to every cli command
  Cargo.lock
  cli/Cargo.toml
  cli/src/handlers/mod.rs
  cli/src/handlers/smoke_tests.rs
Due: none

fix(logging): fix file static paths
  core/src/logger.rs
Due: MECOMP Core

fix: adjust some flaky tests
  analysis/src/clustering.rs
  core/src/audio/mod.rs
  daemon/src/services/library.rs
Due: MECOMP Core, MECOMP Daemon

chore: ignore `unexpected_cfgs` warning for `tarpaulin_include`
  cli/Cargo.toml
  cli/src/main.rs
  core/Cargo.toml
  core/build.rs
  storage/Cargo.toml
  storage/build.rs
  tui/Cargo.toml
  tui/build.rs
Due: MECOMP Core, MECOMP Storage

feat(tui): better focus indication in search view
  tui/src/ui/components/content_view/views/search.rs
Due: none

refactor(tui): make active component handled by new state store
  tui/src/state/action.rs
  tui/src/state/component.rs
  tui/src/state/mod.rs
  tui/src/test_utils.rs
  tui/src/ui/app.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

feat(tui): implement mouse click handling for checktree
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/widgets/popups/playlist.rs
  tui/src/ui/widgets/tree/mod.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

refactor(tui): consolidate area_splitting logic in app.rs
  tui/src/ui/app.rs
Due: none

feat(tui): basic mouse handling infrastructure
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/mod.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
Due: none

feat(tui): implement mouse handler for playlist popup
  tui/src/ui/widgets/popups/playlist.rs
Due: none

feat(tui): mouse handler for inputbox
  tui/src/ui/widgets/input_box.rs
Due: none

refactor(tui): adjust area in mouse handler to account for border
  tui/src/ui/app.rs
Due: none

feat(tui): update mouse handler for playlist popup to handle input box
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: none

feat(tui): mouse handler for sidebar
  tui/src/ui/components/sidebar.rs
Due: none

feat(tui): mouse handler for control panel
  tui/src/ui/components/control_panel.rs
Due: none

feat(tui): mouse handler for queue bar
  tui/src/ui/components/queuebar.rs
Due: none

fix(tui): clear tree state(s) when switching active view
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

feat(tui): mouse handler for Library Views
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
