Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

fix(daemon): properly create data / config directories on first run
  daemon/src/main.rs
Due: MECOMP Daemon

chore: update README
  README.md
Due: none

chore(cd): don't fail-fast for publishing to crates.io
  .github/workflows/cd.yml
Due: none

chore: dump version numbers
  Cargo.lock
  Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

fix(cd): install missing dependencies for the CD workflow
  .github/workflows/cd.yml
Due: none

feat(clustering): test script to visualize clustering algorithms
  experiment/Cargo.toml
  experiment/scatter-collections.svg
  experiment/scatter-pca.svg
  experiment/scatter-tsne-gmm.svg
  experiment/scatter-tsne-kmeans.svg
  experiment/scatter-tsne.svg
  experiment/src/main.rs
  experiment/src/pca.rs
Due: none

refactor(tui): deduplicate code related to checktree's
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/widgets/popups/playlist.rs
  tui/src/ui/widgets/tree/mod.rs
Due: none

fix(tui): checktree rendered_at now acts as expected
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/widgets/tree/mod.rs
  tui/src/ui/widgets/tree/state.rs
Due: none

refactor(tui): refactor album, song, and artist views into generic ItemView
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/song.rs
Due: none

refactor(tui): refactor sorting logic into SortMode trait
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
  tui/src/ui/components/content_view/views/traits.rs
Due: none

chore: fmt
  tui/src/ui/components/content_view/views/traits.rs
Due: none

feat(tui): right click to return to previous view
  tui/src/state/action.rs
  tui/src/state/mod.rs
  tui/src/state/view.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/sidebar.rs
Due: none

fix(audio): enforce volume limits, disallow setting negative volume
  core/src/audio/mod.rs
Due: MECOMP Core

feat(tui): implement undo/redo navigation with Back and Next actions
  tui/src/state/action.rs
  tui/src/state/view.rs
  tui/src/ui/components/content_view/mod.rs
Due: none

chore(fmt): satisfy clippy lints regarding length of doccomments
  analysis/src/decoder/mod.rs
  analysis/src/utils.rs
  daemon/src/services/mod.rs
  storage/src/db/queries/generic.rs
  storage/src/db/schemas/analysis.rs
  tui/src/ui/components/control_panel.rs
Due: MECOMP Daemon, MECOMP Storage

feat(tui): enhance key event handling with media keys
  tui/src/ui/app.rs
  tui/src/ui/mod.rs
Due: none

feat(db): update remove_songs methods to return boolean indicating if record should be removedd
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/collection.rs
  storage/src/db/crud/playlist.rs
Due: MECOMP Storage

feat(storage): if a delete operation would leave an artist, album, or collection as an orphan, delete it
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
Due: MECOMP Storage

feat(storage): implement orphan deletion for albums and artists during song updates
  daemon/src/services/library.rs
  storage/src/db/crud/song.rs
Due: MECOMP Daemon, MECOMP Storage

feat(db): trim whitespace from during parsing
  storage/src/db/schemas/song.rs
Due: MECOMP Storage

feat(library): implement deletion of orphaned albums, artists, and collections during library rescan
  daemon/src/services/library.rs
Due: MECOMP Daemon

chore: update dependencies
  Cargo.lock
  Cargo.toml
  daemon/src/dynamic_updates.rs
  storage/src/db/mod.rs
  surrealqlx/lib/Cargo.toml
Due: MECOMP Daemon, MECOMP Storage, SurrealQLX

refactor: clippy lints
  analysis/src/utils.rs
  storage/src/db/schemas/song.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/widgets/popups/notification.rs
Due: MECOMP Storage

misc(cd): play around with attestations
  .github/workflows/cd.yml
Due: none

feat(cd): implement new workflow for publishing crates to crates.io
  .github/workflows/cd.yml
  .github/workflows/publish-crates.yml
Due: none

chore: dependency updates
  .github/workflows/cd.yml
  .github/workflows/codecov-action.yml
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: none

chore: update tarpaulin coverage command to remove unnecessary post-test delay
  .cargo/config.toml
Due: none

refactor(daemon): remove redundant endpoints
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  daemon/src/services/mod.rs
  daemon/src/services/radio.rs
Due: MECOMP Core, MECOMP Daemon

refactor(daemon): remove unused endpoints
  core/src/rpc.rs
  daemon/src/controller.rs
Due: MECOMP Core, MECOMP Daemon

refactor(daemon): replace confusing playlist_new implementation with more clear playlist_get_or_create
  cli/src/handlers/implementations.rs
  core/src/rpc.rs
  daemon/src/controller.rs
  tui/src/state/library.rs
Due: MECOMP Core, MECOMP Daemon

feat(logging): migrate to envlogger 11.5
  Cargo.lock
  Cargo.toml
  core/src/logger.rs
  mecomp-workspace-hack/Cargo.toml
Due: MECOMP Core

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
