Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

codecov.yml:

# require_ci_to_pass: yes # require CI to pass before uploading coverage

comment:
  layout: "header, diff, components, files" # show component info in the PR comment
  behavior: default

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "*" # all branches
      - type: patch
        target: auto
        branches:
          - "*" # all branches
  individual_components:
    - component_id: module_mecomp_core # this is an identifier that should not be changed
      name: MECOMP Core # this is a display name, and can be changed freely
      paths:
        - core/**
    - component_id: module_mecomp_daemon
      name: MECOMP Daemon
      paths:
        - daemon/**
    - component_id: module_mecomp_storage
      name: MECOMP Storage
      paths:
        - storage/**
    - component_id: module_surrealqlx
      name: SurrealQLX
      paths:
        - surrealqlx/**

pin rust dependencies
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  cli/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  storage/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
  tui/Cargo.toml
  tui/src/main.rs
Due: MECOMP Storage, SurrealQLX

pin action verisons
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/typo.yml
Due: none

feat(tui): default to "connecting with retry" behavior when initializing client
  core/src/errors.rs
  core/src/rpc.rs
  tui/Cargo.toml
  tui/src/main.rs
Due: MECOMP Core

chore: update example
  examples/mecomp.kdl
Due: none

chore: cliipy
  core/src/errors.rs
  core/src/rpc.rs
Due: MECOMP Core

feat: update to surrealdb v2.3.10
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
  one-or-many/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

fix(security): bump other deps to no-longer-vulnerable versions
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
Due: none

bump versions of tracing libs
  Cargo.lock
  Cargo.toml
Due: none

feat(analysis): migrate to linfa 0.8.0
  Cargo.lock
  analysis/Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: none

perf(analysis) improve clustering
  analysis/src/clustering.rs
  core/src/config.rs
  daemon/src/services/library.rs
Due: MECOMP Core, MECOMP Daemon

fix: typos
  examples/colors-Mecomp.toml
  storage/src/test_utils.rs
  tui/src/ui/widgets/popups/notification.rs
Due: MECOMP Storage

bump taiki-e/install-action version
  .github/workflows/ci.yml
  .github/workflows/codecov-action.yml
  .github/workflows/publish-crates.yml
Due: none

chore: release v0.5.6
  Cargo.lock
  Cargo.toml
Due: none

feat(ci): add dry run job for crate publishing
  .github/workflows/publish-crates.yml
Due: none

fix crate publication workflow
  .github/workflows/publish-crates.yml
Due: none

update dist
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

fix(tui): handle "_ in progress" errors for certain actions
  tui/src/state/library.rs
Due: none

fix(tui): properly handle delete key for input-box
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/dynamic.rs
Due: none

typo
  tui/src/ui/widgets/input_box.rs
Due: none

feat(dynamic updates): use locks for the dynamic updates to hopefully address #381
  core/src/audio/mod.rs
  daemon/src/dynamic_updates.rs
Due: MECOMP Core, MECOMP Daemon

refactor(ui): streamline Props initialization across components
  tui/src/state/library.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/mod.rs
Due: none

feat(tui): add refresh key
  tui/src/ui/app.rs
Due: none

refactor: remove some unused functions
  analysis/src/utils.rs
  storage/src/db/schemas/album.rs
  storage/src/db/schemas/artist.rs
  storage/src/db/schemas/collection.rs
  storage/src/db/schemas/playlist.rs
Due: MECOMP Storage

perf(analysis): reduce clones during clustering
  analysis/src/clustering.rs
Due: none

refactor: switch to current_thread runtime
  cli/src/handlers/complete.rs
  mpris/src/main.rs
  tui/src/main.rs
Due: none

perf(subscriber): update handle_message to use a closure for daemon access
  mpris/src/lib.rs
Due: none

perf(tui/state/audio): improve runtime tracking and reduce updates
  tui/src/state/audio.rs
Due: none

refactor(daemon): replace tokio runtime with futures executor for terminator
  Cargo.toml
  daemon/src/termination.rs
Due: MECOMP Daemon

chore: add comment explain use of multi-threaded runtime for cli completions
  cli/src/handlers/complete.rs
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: release v0.5.7
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: none

fix(daemon): panic in terminator thread
  daemon/src/termination.rs
Due: MECOMP Daemon
