Repository AnthonyMichaelTDM/mecomp: changes, and which Codecov flags are due for each by the changed paths.
All: MECOMP Core, MECOMP Daemon, MECOMP Storage, SurrealQLX

feat: add cargo-hakari cleanup step to release workflow
  .github/dist/remove-workspace-hack.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

fix(daemon): panic in terminator thread
  daemon/src/termination.rs
Due: MECOMP Daemon

chore: release v0.5.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  mpris/Cargo.toml
Due: none

chore: release v0.5.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  mpris/Cargo.toml
Due: none

chore: release v0.5.8
  .github/dist/remove-workspace-hack.yml
  .github/workflows/release.yml
Due: none

feat: add PR run mode configuration to dist workspace
  dist-workspace.toml
Due: none

chore: run dist generate
  .github/workflows/release.yml
Due: none

perf(analysis): parallelize reference set generation
  analysis/src/clustering.rs
Due: none

chore: some debugging
  .github/dist/remove-workspace-hack.yml
  .github/workflows/release.yml
Due: none

ignore failing of hakari, regenerate lockfile manually and check git status
  .github/dist/remove-workspace-hack.yml
  .github/workflows/release.yml
Due: none

cleanup
  .github/dist/remove-workspace-hack.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

feat: reduce size of release binaries by removing workspace-hack before building (#397)
  .github/dist/remove-workspace-hack.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

feat: remove support for x86_64-apple-darwin
  README.md
  dist-workspace.toml
Due: none

chore: release v0.5.8 (for real this time)
  CHANGELOG.md
Due: none

chore: change Dependabot update schedule from daily to weekly
  .github/dependabot.yml
Due: none

feat: remove tap dependency and replace with inspect_err for error logging
  Cargo.lock
  Cargo.toml
  daemon/Cargo.toml
  daemon/src/controller.rs
  daemon/src/services/library.rs
Due: MECOMP Daemon

feat: add QueueChanged state to audio events and update handling
  core/src/audio/mod.rs
  core/src/udp.rs
  mpris/src/interfaces/player.rs
  mpris/src/lib.rs
  tui/src/state/audio.rs
Due: MECOMP Core

test: update shuffle state tests to check for QueueChanged event
  mpris/src/interfaces/player.rs
Due: none

chore: release v0.5.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: failing test
  daemon/src/persistence.rs
Due: MECOMP Daemon

refactor: optimize collection and display of song attributes
  cli/src/handlers/complete.rs
  core/src/audio/commands.rs
  core/src/state/mod.rs
  daemon/src/services/radio.rs
  mpris/src/lib.rs
  storage/src/db/crud/collection.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/control_panel.rs
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

chore: add rust-2018-idioms to clippy config
  .cargo/config.toml
  bacon.toml
Due: none

refactor: explicitly ellid lifetimes
  analysis/src/chroma.rs
  analysis/src/clustering.rs
  analysis/src/decoder/mecomp.rs
  analysis/src/lib.rs
  analysis/src/timbral.rs
  cli/src/handlers/utils.rs
  surrealqlx/macros-impl/src/lib.rs
  tui/src/ui/app.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/generic.rs
  tui/src/ui/components/content_view/views/none.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/radio.rs
  tui/src/ui/components/content_view/views/random.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/control_panel.rs
  tui/src/ui/components/mod.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/components/sidebar.rs
  tui/src/ui/widgets/input_box.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/notification.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: SurrealQLX

chore: update opentelemetry and related dependencies to latest versions
  Cargo.lock
  Cargo.toml
  mecomp-workspace-hack/Cargo.toml
Due: none

chore: update dependencies
  Cargo.lock
  Cargo.toml
  analysis/Cargo.toml
  cli/Cargo.toml
  one-or-many/Cargo.toml
  surrealqlx/lib/Cargo.toml
  surrealqlx/macros-impl/Cargo.toml
  surrealqlx/macros/Cargo.toml
Due: SurrealQLX

feat: add mecomp-prost library with protobuf definitions and utilities
  Cargo.lock
  Cargo.toml
  prost/.gitignore
  prost/Cargo.toml
  prost/README.md
  prost/build.rs
  prost/proto/apis/collection.proto
  prost/proto/apis/dynamic.proto
  prost/proto/apis/entities.proto
  prost/proto/apis/library.proto
  prost/proto/apis/misc.proto
  prost/proto/apis/playback.proto
  prost/proto/apis/playlist.proto
  prost/proto/apis/queue.proto
  prost/proto/apis/radio.proto
  prost/proto/apis/rand.proto
  prost/proto/apis/search.proto
  prost/proto/apis/state.proto
  prost/proto/daemon.proto
  prost/src/lib.rs
Due: none

feat: helpers for initializing clients
  Cargo.lock
  prost/Cargo.toml
  prost/src/lib.rs
Due: none

chore: bookkeeping
  .github/workflows/publish-crates.yml
  Cargo.lock
  mecomp-workspace-hack/Cargo.toml
  prost/Cargo.toml
  x.sh
Due: none

feat: migrate cli to use mecomp-prost
  Cargo.lock
  cli/Cargo.toml
  cli/src/handlers/complete.rs
  cli/src/handlers/implementations.rs
  cli/src/handlers/mod.rs
  cli/src/handlers/printing.rs
  cli/src/handlers/smoke_tests.rs
  cli/src/handlers/utils.rs
  cli/src/main.rs
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  daemon/Cargo.toml
  mpris/Cargo.toml
  prost/Cargo.toml
  prost/build.rs
  prost/proto/apis/collection.proto
  prost/proto/apis/dynamic.proto
  prost/proto/apis/entities.proto
  prost/proto/apis/library.proto
  prost/proto/apis/playback.proto
  prost/proto/apis/playlist.proto
  prost/proto/apis/queue.proto
  prost/proto/apis/radio.proto
  prost/proto/apis/rand.proto
  prost/proto/apis/search.proto
  prost/proto/apis/state.proto
  prost/proto/daemon.proto
  prost/src/conversions.rs
  prost/src/helpers.rs
  prost/src/lib.rs
  storage/src/db/crud/artist.rs
  storage/src/db/schemas/song.rs
  tui/Cargo.toml
Due: MECOMP Core, MECOMP Daemon, MECOMP Storage

refactor: rename release_year to release in song-related structures and tests
  core/src/audio/commands.rs
  core/src/state/mod.rs
  storage/src/db/crud/album.rs
  storage/src/db/crud/artist.rs
  storage/src/db/crud/song.rs
  storage/src/db/schemas/song.rs
  storage/src/test_utils.rs
Due: MECOMP Core, MECOMP Storage

feat: integrate mecomp-prost for MPRIS player interface and update connection handling
  mpris/Cargo.toml
  mpris/src/interfaces/player.rs
  mpris/src/interfaces/root.rs
  mpris/src/lib.rs
  mpris/src/main.rs
Due: none

Refactor search and UI components to use mecomp_prost types
  daemon/src/services/backup.rs
  tui/Cargo.toml
  tui/src/lib.rs
  tui/src/main.rs
  tui/src/state/action.rs
  tui/src/state/audio.rs
  tui/src/state/library.rs
  tui/src/state/mod.rs
  tui/src/state/search.rs
  tui/src/test_utils.rs
  tui/src/ui/components/content_view/mod.rs
  tui/src/ui/components/content_view/views/album.rs
  tui/src/ui/components/content_view/views/artist.rs
  tui/src/ui/components/content_view/views/collection.rs
  tui/src/ui/components/content_view/views/dynamic.rs
  tui/src/ui/components/content_view/views/mod.rs
  tui/src/ui/components/content_view/views/playlist.rs
  tui/src/ui/components/content_view/views/search.rs
  tui/src/ui/components/content_view/views/song.rs
  tui/src/ui/components/content_view/views/sort_mode.rs
  tui/src/ui/components/content_view/views/traits.rs
  tui/src/ui/components/queuebar.rs
  tui/src/ui/mod.rs
  tui/src/ui/widgets/popups/dynamic.rs
  tui/src/ui/widgets/popups/mod.rs
  tui/src/ui/widgets/popups/playlist.rs
Due: MECOMP Daemon

refactor: update count functions and related structures to use u64 for consistency
  storage/src/db/crud/song.rs
  storage/src/db/health.rs
  storage/src/db/mod.rs
  storage/src/db/queries/generic.rs
Due: MECOMP Storage

Path conditions:
  MECOMP Core: any of: core/**
  MECOMP Daemon: any of: daemon/**
  MECOMP Storage: any of: storage/**
  SurrealQLX: any of: surrealqlx/**
